* { margin:0; padding:0; }

body {
        font: 11px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
}

form {
        margin: 0 0 0 8px;
        padding: 20px 16px 48px 16px;
        font-weight: normal;
        -moz-border-radius: 11px;
        -khtml-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        background: #fff;
        border: 1px solid #e5e5e5;
        -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        box-shadow: rgba(200,200,200,1) 0 4px 18px;
}

form p { margin: 0 3px 16px 3px; }

input.button {
        font: bold 14px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
        padding: 5px 10px;
        border: none;
        -moz-border-radius: 13px;
        -khtml-border-radius: 13px;
        -webkit-border-radius: 13px;
        border-radius: 13px;
        -moz-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        -webkit-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        -khtml-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        cursor: pointer;
        text-decoration: none;
        margin: 0;
        height: 26px;
        background: url('../img/button_bg.gif') repeat-x 0 -4px;
}

input.button:hover {
        background: url('../img/button_bg_hover.gif') repeat-x 0 -4px;
}

label {
        color: #666;
        font-size: 18px;
}


#login {
        width: 450px;
        margin: 7em auto 5em;
}

.input {
        font-size: 24px;
        width: 97%;
        padding: 3px;
        margin: 2px 6px 20px 0;
        border: 1px solid #e5e5e5;
        background: #fbfbfb;
	color: #777
}

form .stayloggedin {
        font-weight: normal;
        float: left;
        margin-bottom: 0;
}

form .stayloggedin label { 
        font-size: 13px; 
        line-height: 1.5em; 
}

form .submit { float:right; }

#login-links p, h4 {text-align: center;}

.page-footer { display:none; }
