* { margin:0; padding:0; }

body {
        font: 11px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
}

form {
        margin: 0 0 0 8px;
        padding: 16px 16px 50px 16px;
        font-weight: normal;
        -moz-border-radius: 11px;
        -khtml-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        background: #fff;
        border: 1px solid #e5e5e5;
        -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        box-shadow: rgba(200,200,200,1) 0 4px 18px;
}

form .submit { float:left; }

form p { margin-bottom: 12px; }

input.button {
        font: bold 14px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
        padding: 5px 10px;
        border: none;
        -moz-border-radius: 13px;
        -khtml-border-radius: 13px;
        -webkit-border-radius: 13px;
        border-radius: 13px;
        -moz-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        -webkit-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        -khtml-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        cursor: pointer; 
        text-decoration: none;
        margin: 0;
	height: 26px;
	background: url('../img/button_bg.gif') repeat-x 0 -4px;
}

input.button:hover {
    	background: url('../img/button_bg_hover.gif') repeat-x 0 -4px;
}


div.registrationHeader {
        padding: 5px 15px;
        border: none;
        -moz-border-radius: 13px;
        -khtml-border-radius: 13px;
        -webkit-border-radius: 13px;
        border-radius: 13px;
        -moz-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        -webkit-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        -khtml-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        text-decoration: none;
        margin: 0 0 20px 0;
	height: 1.5em;
	background: url('../img/button_bg.gif') repeat-x 0 0;
	color: #fff;
}

.registrationHeader h3 { 
        font: bold 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
        vertical-align: middle;
	//background-color: #ccc;
}

label {
        color: #666;
        font-size: 18px;
}


#registration-form {
        width: 550px;
        margin: 3em auto 1em;
}

.input {
        font-size: 18px;
        width: 97%;
        padding: 3px;
        margin: 2px 0 5px 0;
        border: 1px solid #e5e5e5;
        background: #fbfbfb;
        color: #777;
}

.page-footer { display:none; }
