* { margin:0; padding:0; }

body {
    font: 11px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    background-color: #fefefe;
    margin: 0px;
    color: #333333;
    height: 100%;
}

#page-header {
    background-color: #bbb;
    border-bottom: #4c5c67 solid 1px;
    margin-bottom: 0px;
 	width: 100%;
 	border: '0';
 	padding: '0';
	background-image: url('../img/scheduleit-header-gradient.png');
}

#page-header span.tab {
    padding: 0px 10px 3px 10px;
    margin: 2px 3px 1px 3px;
    vertical-align: middle;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 3px solid #000000;
}

/*
a {
    color: #104E8B;
    text-decoration: none;
}

a:hover {
    color: #474747;
    text-decoration: underline;
}

/* Common text settings
 
p {
    font-size: 11px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
}

h5 {
    font-size: 12px;
}

h4 {
    font-size: 13px;
}

h3 {
    font-size: 18px;
}
*/

.textbox {
    font-size: 12px;
    color: #36648B;
    padding: 2px 3px;
    border: solid 1px #aaaaaa;
}

.button {
    font: bold 10px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    border: solid 1px #0e3046;
    color: #ffffff;
    height: 20px;
    background: url('../img/button_background.gif') repeat;
}

.button:hover {
    background: url('../img/button_background_hover.gif') repeat;
}

/*********************************************************/
#loginError, div.error {
    border: solid 1px #a4381c;
    margin: 20px auto 5px;
    background-color: #f5e4df;
    width: 60%;
    padding: 6px;
    font-size: 14px;
    text-align: center;
}

div.error {
    text-align: left;
    font-size: 13px;
}

div.error table {
    width: 100%;
}

div.error img {
    padding: 0px 10px;
}

div.error ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

#content {
    margin: 0px 15px;
    padding: 0; 
}

.dashboardHeader {
    background-color: #d7def7;
    border-bottom: solid 1px #588abd;
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
    color: #588abd;
    letter-spacing: 1px;
}

.dashboardBorder {
    border: solid 1px #588abd;
    margin-top: 15px;
    width:100%;
}

div.page-footer {
    background: #66A0BB url('../img/scheduleit-watermark.png') no-repeat right;
    vertical-align: bottom; 
    width: 100%;
}

.p-center {
	text-align: center;
}

form.login, form.forgot {
        margin: 0 0 0 8px;
        padding: 20px 16px 48px 16px;
        font-weight: normal;
        -moz-border-radius: 11px;
        -khtml-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        background: #fff;
        border: 1px solid #e5e5e5;
        -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        box-shadow: rgba(200,200,200,1) 0 4px 18px;
}

form p { margin: 0 3px 16px 3px; }

input.button {
        font: bold 14px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
        padding: 5px 10px;
        border: none;
        -moz-border-radius: 13px;
        -khtml-border-radius: 13px;
        -webkit-border-radius: 13px;
        border-radius: 13px;
        -moz-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        -webkit-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        -khtml-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        cursor: pointer;
        text-decoration: none;
        margin: 0;
        height: 26px;
        background: url('../img/button_bg.gif') repeat-x 0 -4px;
}

input.button:hover {
        background: url('../img/button_bg_hover.gif') repeat-x 0 -4px;
}

label.login, label.forgot {
        color: #666;
        font-size: 18px;
}

#loginbox {
        width: 450px;
        margin: 7em auto 5em;
}

#loginbox .input, #forgotbox .input {
	font-size: 24px;
	width: 97%;
	padding: 3px;
	margin: 2px 6px 20px 0;
	border: 1px solid #e5e5e5;	
	background: #fbfbfb;
	color: #777
}

form .stayloggedin {
	font-weight: normal;
	float: left;
	margin-bottom: 0;
}

form .stayloggedin label { 
	font-size: 13px; 
	line-height: 1.5em; 
}

form.res-checkbox input { vertical-align: middle; }

p.loginsubmit, p.save, p.reg-adminsubmit, p.reporting-submit, p.resetpassword { float:right; }

#login-links p, #login-links h4 {text-align: center;}

.page-footer { display:none; }


form.register, form.resource, form.reg-admin, #reservationForm {
        margin: 0 0 0 8px;
        padding: 20px 16px 48px 16px;
        font-weight: normal;
        -moz-border-radius: 11px;
        -khtml-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        background: #fff;
        border: 1px solid #e5e5e5;
        -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        box-shadow: rgba(200,200,200,1) 0 4px 18px;
}

p.regsubmit { float:left; }

form p { margin-bottom: 12px; }

form li { 
	font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif; 
	color: #666;
}

div.registrationHeader, div.resourceHeader, div.reg-adminHeader, div.reportingHeader, div.forgot_pwdHeader, .reservationHeader {
	padding: 5px 15px;
	border: none;
	-moz-border-radius: 13px;
	-khtml-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	-moz-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
	-webkit-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
	-khtml-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
	box-shadow: rgba(200,200,200,1) 3px 3px 10px;
	text-decoration: none;
	margin: 0 0 20px 0;
	height: 2em;
	background: url('../img/button_bg.gif') repeat-x 0 0;
	color: #fff;
}

.registrationHeader h3, .resourceHeader h3, .reg-adminHeader h3, .reportingHeader h3, .forgot_pwdHeader h3, .reservationHeader h3 { 
	font: bold 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
	vertical-align: middle;
}

p.forgot {
	font: 14px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;	
}

ul.no-style {
	list-style-type: none;
}

li.res-req, li.reg-req, .rsv-req { color: #a00; }

label.res-req, label.reg-req, .rsv-req {
	font-size: 18px;
	color: #a00;
}

label.res, label.reg {
	font-size: 18px;
	color: #666;
}

#registrationbox, #forgotbox {
	width: 550px;
	margin: 3em auto 1em;
}

#resourcebox {
	width: 850px;
	margin: 3em auto 1em;
}

#reg-adminbox, #reportingbox, #reservationbox {
	width: 750px;
	margin: 3em auto 1em;
}

#resourcebox-leftcolumn {
	width: 47%;
	float: left;
}
 
#resourcebox-rightcolumn {
	width: 51%;
	float: right;	
}

#resourcebox-footer { clear: both; }

#reg-adminbox-footer, #reporting-footer { margin: 10px 0;}

#registrationbox .input, #reservationbox .input {
        font-size: 18px;
        width: 97%;
        padding: 3px;
        margin: 2px 0 5px 0;
        border: 1px solid #e5e5e5;
        background: #fbfbfb;
        color: #777;
}

#reservationbox .input {
        font-size: 18px;
        width: 98%;
        padding: 3px;
        margin: 2px 0 5px 0;
        border: 1px solid #e5e5e5;
        background: #fbfbfb;
        color: #777;
}
#resourcebox .input {
    	font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
        width: 98%;
        padding: 3px;
        margin: 4px 0 8px 0;
        border: 1px solid #e5e5e5;
        background: #fbfbfb;
        color: #777;
}

textarea.input-area {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 98%;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
	overflow: hidden;
}

td.center {
	text-align: center;
}

table.reg-admin {
	border-collapse: collapse;
}

table.reg-admin td {
	padding: 3px;
}

th.admin-radio {
    vertical-align: middle;	
    color: #777;
	border-bottom: 2px solid #aaa;
	padding: 0 0 3px 0;
}

th.admin-fieldHeading {
    font: bold 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
	width: 400px;
	text-align: left;
}

th.admin-radio {
    font: bold 15px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
	width: 100px;
}

th.reporting {
    font: bold 15px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
	width: 150px;
	text-align: center;
}

td.admin-fieldName {
    font: bold 15px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    color: #777;	
}

tr.admin-lastline {
	border-bottom: 2px solid #aaa;
}

/* Global header navigation, work in progress */

.menu .menu, .menubar .menu {visibility:hidden;position:absolute;top:56px;}
.menubar li,.menu li{list-style-type:none}
.menubar ul,.menu ul,.menubar li,.menu li,.menu h6,.menubar h6{margin:0;padding:0}
.menubar ul{*zoom:1}
.menubar .menu ul{*zoom:normal}
.menubar>.bd>ul:after{content:".";display:block;clear:both;visibility:hidden;height:0;line-height:0}
.menubaritem{float:left}
#nav-access{display:none}
#doc{width:900px;margin:auto;text-align:left;position:relative;z-index:1}
#doc:after{content:".";display:block;height:0;clear:both;visibility:hidden}
#wrapper{min-width:900px}

.menubar {
        visibility:visible;
        position:static;
        font-size:130%;
        line-height:2;
        *line-height:1.9;
}

.menu {
	font-size: 110%;
}

.menuitem {
        color: #fff;
        margin: 0 2px 0 0;
        list-style-type: none;
}

.menu ul {
        padding:3px 0;
        border-width:1px 0 0 0;
        border-color:#ccc;
        border-style:solid;
}

.menu ul.first { border-width:0; }

#header {
        width: 900px;
        margin:0 15px;
        background: url(/img/header-bg.png) bottom left no-repeat;
        height: 56px;
}

#nav-main { float:right; padding-right: 100px; }
#nav-main ul{ float:left; z-index:99; left:auto; }
#nav-main ul, #nav-main ul li { height:56px; background:none; position:relative; }
#nav-main ul {
        background: transparent url(/img/menubar-divider.png) top left no-repeat;
        padding-left: 2px;
}
#nav-main ul li a {
        padding:20px 20px 0 20px;
        height:35px;
        display:block;
        float:left;
        font-weight:bold;
        font-size:95%;
        color:#fff;
        background:transparent url(/img/menubar-divider.png) top right no-repeat;
}
#nav-main ul li a:link, #nav-main ul li a:visited {
        color:#fff;
        text-decoration:none;
}
#nav-main ul li span, #nav-main ul li a:hover, #nav-main ul li a:active {
        color:#fff;
        background:#31526f url(/img/header-menu-bg.png) top right no-repeat;
}
#nav-main ul ul, #nav-main ul ul li { height:auto; border:0; }

#nav-main ul ul {
        background:url(/img/header-menu-bg.png) bottom left no-repeat;
        padding:5px 0;
        width:190px;
}

#nav-main ul li ul li a, #nav-main ul li ul li a:link, #nav-main ul li ul li a:visited {
	padding: 4px 20px;
	margin: 0 1px 1px 1px;
	height: auto;
	float: none;
	display: block;
	font-size: 85%;
	font-weight: normal;
	border: 0;
	background-image: none;
	position: relative;
}

#nav-main ul li ul li a:hover, #nav-main ul li ul li a:active { background:#3d5b74 }

.rsv-checkbox h4 {
	display: inline;
    padding: 0 20px 0 5px;
	
}

.rsv-checkbox input { margin: 0 0 0 3px;}

.rsv-checkbox {
	padding: 0 0 10px 0;
}

.pulldown {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 91%;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
}

textarea.input-areashow {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 98%;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
}

.inline {display:inline;}

.dateinput {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 100px;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
	text-align: center;
}

.repeatDiv select {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 100px;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
}
