* { margin:0; padding:0; }

body {
    font: 11px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    background-color: #fefefe;
    margin: 0px;
    color: #333333;
    height: 100%;
}

#page-header {
    background-color: #bbb;
    border-bottom: #4c5c67 solid 1px;
    margin-bottom: 0px;
 	width: 100%;
 	border: '0';
 	padding: '0';
	background-image: url('../img/scheduleit-header-gradient.png');
}

#page-header td {
    vertical-align: top;
}

#page-header a {
    color: #ffffff;
}

#header-banner {
    height: 110px;
    width: 100%;
}

#banner-image {
    position: absolute;
    top: 10px;
    left: 10px;
}

#banner-text {
    position: absolute;
    color: #ffffff;
    top: 20px;
    left: 400px;
    height: 90px;
    vertical-align: middle;
}

#banner-right {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 10px;
    color: #fff;
    text-align: right;
    font-weight: bold;
    width: 200px;
    height: 110px;
	background-image:url('../img/scheduleit-watermark.png'); 
	background-repeat: no-repeat;
}

#banner-welcome {
    position: absolute;
    top: 70px;
    right: 10px;
    color: #fff;
    text-align: right;
}

#page-header span.tab {
    padding: 0px 10px 3px 10px;
    margin: 2px 3px 1px 3px;
    vertical-align: middle;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 3px solid #000000;
}

#tabs {
	width: 100%;
	padding: 3px 5% 0px 5%; 
	margin: 3px 0px 4px 0px; 
	vertical-align: bottom; 
	background: #599800; 	
}

#sub-tabs {
	width: 90%; 
	padding: 3px 5% 0px 5%; 
	height: 25px; 
	color: #fff;
}

#page-header .subtab a:link, #page-header .subtab a:visited {
    color: #303030;
}

a {
    color: #104E8B;
    text-decoration: none;
}

a:hover {
    color: #474747;
    text-decoration: underline;
}

/*
 Common text settings
 */
p {
    font-size: 11px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
}

h5 {
    font-size: 12px;
}

h4 {
    font-size: 13px;
}

h3 {
    font-size: 18px;
}

.textbox {
    font-size: 12px;
    color: #36648B;
    padding: 2px 3px;
    border: solid 1px #aaaaaa;
}

.button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    border: solid 1px #0e3046;
    color: #ffffff;
    height: 20px;
    background: url('../img/button_background.gif') repeat;
}

.button:hover {
    background: url('../img/button_background_hover.gif') repeat;
}

/*********************************************************/
.loginTableBorder {
    background-color: #005EBF;
}

.loginTable tr {
    background-color: #FFFFFF;
}

.loginTable #header {
    color: #BBBBBB;
    background: #005EBF url('../img/scheduleit-watermark.png') no-repeat right;
}

.loginTable #header td {
    border-bottom: solid 1px #005EBF;
}

.loginTable #footer {
    background-color: #FAFAFA;
}

.loginTable #footer td {
    border-top: solid 1px #005EBF;
}

#loginError, div.error {
    border: solid 1px #a4381c;
    margin: 0px auto 15px;
    background-color: #f5e4df;
    width: 60%;
    padding: 6px;
    font-size: 12px;
    text-align: center;
}

div.error {
    text-align: left;
    font-size: 13px;
}

div.error table {
    width: 100%;
}

div.error img {
    padding: 0px 10px;
}

div.error ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.registration {
    font-size: 14px;
    width: 500px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    padding: 20px 50px;
    margin-left: auto;
    margin-right: auto;
}

div.registrationHeader, .resourceHeader {
    font-size: 15px;
    font-weight: bold;
    background-color: #e2e398;
    color: #000000;
    padding: 3px 20px;
    border: solid 1px #adae68;
}

div.registration table {
    margin-bottom: 25px;
}

div.registration .textbox {
    width: 200px;
}

div.registration hr {
    height: 1px;
    color: #aaaaaa;
}

#content {
    margin: 0px 15px;
    padding-bottom: 30px; /* make room for the footer on a full page */
}

#shadow {
    width: 100%;
    height: 8px;
    margin-bottom: 10px;
	background:url('../img/shadow.png');
}

.dashboardHeader {
    background-color: #d7def7;
    border-bottom: solid 1px #588abd;
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
    color: #588abd;
    letter-spacing: 1px;
}

.dashboardBorder {
    border: solid 1px #588abd;
}

div.page-footer {
    background: #66A0BB url('../img/scheduleit-watermark.png') no-repeat right;
    vertical-align: bottom; 
    width: 100%;
}

.p-center {
	text-align: center;
}

form.login {
        margin: 0 0 0 8px;
        padding: 20px 16px 48px 16px;
        font-weight: normal;
        -moz-border-radius: 11px;
        -khtml-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        background: #fff;
        border: 1px solid #e5e5e5;
        -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        box-shadow: rgba(200,200,200,1) 0 4px 18px;
}

form p { margin: 0 3px 16px 3px; }

input.button {
        font: bold 14px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
        padding: 5px 10px;
        border: none;
        -moz-border-radius: 13px;
        -khtml-border-radius: 13px;
        -webkit-border-radius: 13px;
        border-radius: 13px;
        -moz-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        -webkit-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        -khtml-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        cursor: pointer;
        text-decoration: none;
        margin: 0;
        height: 26px;
        background: url('../img/button_bg.gif') repeat-x 0 -4px;
}

input.button:hover {
        background: url('../img/button_bg_hover.gif') repeat-x 0 -4px;
}

label.login {
        color: #666;
        font-size: 18px;
}


#loginbox {
        width: 450px;
        margin: 7em auto 5em;
}

#loginbox .input {
        font-size: 24px;
        width: 97%;
        padding: 3px;
        margin: 2px 6px 20px 0;
        border: 1px solid #e5e5e5;
        background: #fbfbfb;
	color: #777
}

form .stayloggedin {
        font-weight: normal;
        float: left;
        margin-bottom: 0;
}

form .stayloggedin label { 
        font-size: 13px; 
        line-height: 1.5em; 
}

form .res-checkbox input {
	vertical-align: middle;
}
form .loginsubmit, .save { float:right; }

#login-links p, h4 {text-align: center;}

.page-footer { display:none; }


form.register, .resource {
        margin: 0 0 0 8px;
        padding: 20px 16px 48px 16px;
        font-weight: normal;
        -moz-border-radius: 11px;
        -khtml-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        background: #fff;
        border: 1px solid #e5e5e5;
        -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        box-shadow: rgba(200,200,200,1) 0 4px 18px;
}

form .regsubmit { float:left; }

form p { margin-bottom: 12px; }

div.registrationHeader, .resourceHeader {
        padding: 5px 15px;
        border: none;
        -moz-border-radius: 13px;
        -khtml-border-radius: 13px;
        -webkit-border-radius: 13px;
        border-radius: 13px;
        -moz-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        -webkit-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        -khtml-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        box-shadow: rgba(200,200,200,1) 3px 3px 10px;
        text-decoration: none;
        margin: 0 0 20px 0;
	height: 1.5em;
	background: url('../img/button_bg.gif') repeat-x 0 0;
	color: #fff;
}

.registrationHeader, .resourceHeader h3 { 
        font: bold 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
        vertical-align: middle;
}

label.reg, .res {
        color: #666;
        font-size: 18px;
}

label.reg-box, .res-box {
        color: #666;
        font-size: 18px;
		height: 50px;
}

label.res-req, .reg-req {
        color: #a00;
        font-size: 18px;
}

#registrationbox {
        width: 550px;
        margin: 3em auto 1em;
}

#resourcebox {
	width: 70%;
	margin: 3em auto 1em;
}

#resourcebox-leftcolumn {
	width: 49%;
	float: left;
}
 
#resourcebox-rightcolumn {
	width: 49%;
	float: right;	
}

#resourcebox-footer {
	clear: both;
}

#registrationbox .input {
        font-size: 18px;
        width: 97%;
        padding: 3px;
        margin: 2px 0 5px 0;
        border: 1px solid #e5e5e5;
        background: #fbfbfb;
        color: #777;
}

#resourcebox .input {
        font-size: 18px;
        width: 97%;
        padding: 3px;
        margin: 2px 0 5px 0;
        border: 1px solid #e5e5e5;
        background: #fbfbfb;
        color: #777;
}
