/config/log4php.config.xml
/.idea
/tpl_c
/config/config.php
/plugins/Authentication/ActiveDirectory/ActiveDirectory.config.php
/plugins/Authentication/Ldap/Ldap.config.php
/plugins/Authentication/Drupal/Drupal.config.php
/lib/external/phpqrcode/cache/*.dat
/lib/external/phpqrcode/cache/mask_0/*.dat
/lib/external/phpqrcode/cache/mask_1/*.dat
/lib/external/phpqrcode/cache/mask_2/*.dat
/lib/external/phpqrcode/cache/mask_3/*.dat
/lib/external/phpqrcode/cache/mask_4/*.dat
/lib/external/phpqrcode/cache/mask_5/*.dat
/lib/external/phpqrcode/cache/mask_6/*.dat
/lib/external/phpqrcode/cache/mask_7/*.dat
/config/test.config.php
/config/test.tenants.config.php
/Web/uploads/tos/tos.pdf
/Web/test-embed.html
/efs/config
/.ebextensions
/config/1.config.php
/vendor
/.phpunit.result.cache
