RewriteEngine On
# Set RewriteBase if your physical path is different from the URL. For example, if using an alias
#RewriteBase /test

RewriteRule ^Web - [L,NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ Web/$1 [QSA,L]