<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/AllTests.php" colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Tests.php">./tests/</directory>
        </testsuite>


<!--        <testsuite name="integration">-->
<!--            <directory>tests/integration</directory>-->
<!--        </testsuite>-->

<!--        <testsuite name="edge-to-edge">-->
<!--            <directory>tests/edge-to-edge</directory>-->
<!--        </testsuite>-->
    </testsuites>
</phpunit>