<?xml version="1.0" encoding="UTF-8"?>
<!-- doc: https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit bootstrap="./tests/AllTests.php" colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Tests.php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
