body 
{
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    background-color: #fefefe;    			
    margin: 0px;
    color: #333333;
	font-size: 11px;
}

#header
{
	background-color: #5483a2;
	border-bottom: #4c5c67 solid 1px;
	margin-bottom: 0px;
}

#header td
{
	vertical-align: top;
}

#header a
{
	color: #ffffff;
}

a 
{
    color: #104E8B;
    text-decoration: none;
}
a:hover 
{
    color: #474747;
    text-decoration: underline;
}
/*
Common text settings
*/
p {
    font-size: 11px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
}
h5 {
    margin-bottom: 0px;
	margin-top: 0px;
    font-size: 12px;
}
h4 {
	font-size: 13px;
}
h3 {
	font-size: 18px;
	margin-top: 0px;
}
.textbox {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;  
    color: #36648B;
    padding: 2px 3px;
    border: solid 1px #aaaaaa;
}

.button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
	border: solid 1px #0e3046;
	color: #ffffff;
	height: 20px;
	background: url('img/button_background.gif') repeat;
}

.button:hover
{
	background: url('img/button_background_hover.gif') repeat;
}

/*********************************************************/

.loginTableBorder
{
	background-color: #CCCCCC;
}

.loginTable tr
{
	background-color: #FFFFFF;
}

.loginTable #header
{
	background-color: #EDEDED;
}

.loginTable #header td
{
	border-bottom: solid 1px #CCCCCC;
}

.loginTable #footer
{
	background-color: #FAFAFA;
}

.loginTable #footer td
{
	border-top: solid 1px #CCCCCC;
}

#loginError, div.error
{
	border: solid 1px #a4381c;
	margin: 0px auto 15px;
	background-color: #f5e4df;
	width: 60%;
	padding: 6px;
	font-size: 12px;
	text-align: center;
}

div.error
{
	text-align: left;
	font-size: 13px;
}

div.error table
{
	width: 100%;
}

div.error img
{
	padding: 0px 10px;
}

div.error ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

div.registration
{
	font-size: 14px;
	width: 500px;	
	border: solid 1px #cccccc;
	background-color: #ffffff;
	padding: 20px 50px;
	margin-left:auto;
	margin-right:auto;
	
}

div.registrationHeader
{
	font-size: 15px;
	font-weight: bold;
	background-color: #e2e398; 
	color: black;
	padding: 3px 20px;
	border: solid 1px #adae68;
}

div.registration table
{
	margin-bottom: 25px;
}

div.registration .textbox
{
	width: 200px;
}

div.registration hr
{
	height: 1px;
	color: #aaaaaa;
}

#content
{
	margin: 0px 15px;
}

#shadow
{
	width: 100%;
	height: 8px;
	margin-bottom: 10px;
}

.dashboardHeader
{
	background-color: #d7def7;
	border-bottom: solid 1px #588abd;
	font-size: 13px;
	font-weight: bold;
	padding-left: 10px;
	color: #588abd;
	letter-spacing: 1px;
}

.dashboardBorder
{
	border: solid 1px #588abd;
}
