/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#page-dashboard .panel-heading {
  background-color: #99b2b7;
  color: #fff;
}
#page-dashboard .panel-heading,
#page-dashboard .panel {
  border-color: #8aa7ac;
}
.dashboard {
  margin-top: 15px;
  border-width: 1px 2px 2px 1px;
  border-color: #99b2b7;
  border-style: solid;
  background-color: #d5ded9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.dashboardContents {
  padding: 15px;
}
.dashboardContents .resourceName {
  background-color: #f9f2e7;
}
.dashboardHeader {
  letter-spacing: 1px;
  padding: 5px 20px;
  background-color: #c7d3cc;
}
.dashboardHeader a {
  color: #353432;
}
.dashboard .noresults {
  text-align: center;
  font-style: italic;
}
.dashboardContents a {
  color: #3D72A4;
  padding: 5px;
}
.dashboardContents .table {
  margin-bottom: 1px;
}
.upcomingReservationsDashboard .timespan td {
  font-style: italic;
  color: #000;
  background-color: #f9f2e7;
}
.upcomingReservationsDashboard tr.reservation.hover td {
  cursor: pointer;
  background-color: #e4eaec;
  color: #222;
}
.upcomingReservationsDashboard tr.reservation.clicked td {
  cursor: pointer;
  background-color: #F0F0F0;
}
.availabilityDashboard .header {
  font-size: 1.2em;
  font-weight: bold;
}
.availabilityDashboard .resourceName {
  width: 350px;
  display: inline-block;
  text-overflow: ellipsis;
}
.availabilityDashboard .availability {
  display: inline-block;
  text-overflow: ellipsis;
}
.availabilityDashboard .reserveButton {
  display: inline-block;
  float: right;
}
.availabilityDashboard .availabilityItem {
  padding: 3px 0;
}
.availabilityDashboard .availabilityItem .btn {
  background-color: #e4dad8;
  color: #585754;
  border-color: #cfbdba;
  padding: 1px 20px;
}
.availabilityDashboard .availabilityItem .btn:hover {
  background-color: #daccc9;
  border-color: #c5afab;
}
