@import "elements.less";
@import "colors.less";

@dashboard-color: @muted-blue;
@dashboard-border-color: darken(@dashboard-color, 5%);

#page-dashboard .panel-heading {
  background-color: @dashboard-color;
  color: #fff;
}

#page-dashboard .panel-heading, #page-dashboard .panel {
  border-color: @dashboard-border-color;
}

.dashboard {
  margin-top: 15px;
  border-width: 1px 2px 2px 1px;
  border-color: @muted-blue;
  border-style: solid;
  background-color: @blue-gray;
  .rounded()
}

.dashboardContents {
  padding: 15px;
  .resourceName {
    background-color: @off-white;
  }
}

.dashboardHeader {
  letter-spacing: 1px;
  padding: 5px 20px;
  //margin: 0 2px;
  background-color: darken(@blue-gray, 5%);
  //border-bottom: solid 1px fade(@muted-blue, 95%);
}

.dashboardHeader a {
  color: @almost-black
}

.dashboard .noresults {
  text-align: center;
  font-style: italic;
}

.dashboardContents a {
  color: #3D72A4;
  padding: 5px;
}

.dashboardContents .table {
  margin-bottom: 1px;
}

.upcomingReservationsDashboard .timespan td {
  font-style: italic;
  color: #000;
  background-color: @off-white;
}

.upcomingReservationsDashboard tr.reservation.hover td {
  cursor: pointer;
  background-color: lighten(@muted-blue, 25%);
  color: #222;
}

.upcomingReservationsDashboard tr.reservation.clicked td {
  cursor: pointer;
  background-color: #F0F0F0;
}

//.availabilityDashboard .dashboardContents {
//  padding: 4px;
//}
//
.availabilityDashboard {
  .header {
    font-size: 1.2em;
    font-weight: bold;
  }
  .resourceName {
    width: 350px;
    display: inline-block;
    text-overflow: ellipsis;
  }
  .availability {
    display: inline-block;
    text-overflow: ellipsis;
  }
  .reserveButton {
    display:inline-block;
    float:right;
  }
  .availabilityItem {
    padding: 3px 0;
    @btn-color: #E4DAD8;
    .btn {
      background-color: @btn-color;
      color: @dark-gray;
      border-color: darken(@btn-color, 10%);
padding: 1px 20px;
    }
    .btn:hover {
      background-color: darken(@btn-color, 5%);
      border-color: darken(@btn-color, 15%);
    }
  }
}