@import "elements.less";
@import "colors.less";

html, body {
  height: 100%;
}

@footer-height: 50px;

body {
  padding-bottom: @footer-height; /* this needs to be bigger than footer height*/
}

a {
  color: @link-color;
}

.footer {
  text-align: center;
  border-top: solid 1px darken(@dark-gray, 10%);
  padding-top: 2px;
  color: #fff;
  font-size: .8em;
  .gradient(@dark-gray, lighten(@dark-gray, 5%), @dark-gray);
  height: 50px;
}

.footer a {
  color: #fff;
}

#main {
  height: 100%;
  padding-bottom: @footer-height;
}

.default-box {
  padding: 35px;
  .rounded(5px);
  border: solid 1px @light-gray;
}

#page-login {
  height: 100%;
  margin-top: -20px;
  padding-top: 40px;
}

#page-login .default-box {
  background-color: lighten(@light-gray, 5%);
  border: solid 1px @light-gray;
}

#login-links {
  text-align: center;
}
