.admin {
	width: 75%;
}

.admin ul {
	list-style: none;
}

.admin .title{
	background-color: #f6f6f6;
	font-weight: bold;
	font-size: 14px;
	color: #596171;
	padding: 5px;
	border-bottom: solid 1px #CECFCE;
}

.admin {
	border: solid 1px #CECFCE;
}

.admin div {
	padding: 5px;
}
.admin a {
	color: #005B9A;
}

.admin .label {
	font-weight: bold;
}

.admin .note {
	font-style: italic;
	color: #8D96A8
}

.admin h4, .admin h5 {
	display:inline;
	font-size: 12px;
	color: #666666;
}

.admin h5 {
	font-size: 10px;	
}

span.error {
	font-weight: bold;
	color: #CE0000;
}

#changeLayoutDialog textarea {
	width: 300px;
	height: 375px;
}

#changeLayoutDialog p {
	margin: 0px;
}

.scheduleDetails .layout {
	border-left:solid 1px #f0f0f0;
	float:right;
	width:550px;
}

.actions {
	clear:both;
	border-top:solid 1px #f0f0f0;
	border-bottom:solid 1px #f0f0f0;
	background-color: #fcfcfc;
}

.noImage {
	width: 98px; 
	height: 60px; 
	background-color: #f0f0f0; 
	line-height: 60px; 
	text-align:center;
	color: #666;
	border: solid 1px #ccc;
}

.resourceDetails img.image {
	width: 100px;
}
