/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/* Main Secondary color (1) */
/* Main Primary color */
/* Main Complement color */
span.error {
  font-weight: bold;
  color: #CE0000;
}
#changeLayoutDialog textarea {
  width: 300px;
  height: 375px;
}
#changeLayoutDialog p {
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .scheduleDetails .layout {
    border-top: solid 1px #f0f0f0;
  }
}
@media only screen and (min-width: 768px) {
  .scheduleDetails .layout {
    border-left: solid 1px #f0f0f0;
  }
}
.actions {
  border-top: solid 1px #f0f0f0;
  border-bottom: solid 1px #f0f0f0;
  background-color: #fcfcfc;
  line-height: 20px;
}
.noImage {
  line-height: 16px;
  text-align: center;
  color: #666;
  font-size: 4em;
  background-color: #f0f0f0;
  border: solid 1px #ccc;
}
.resourceDetails {
  padding: 3px;
}
.resourceDetails img.image {
  width: 100%;
}
.resourceDetails .resourceImage {
  text-align: center;
}
.resourceDetails .resourceColorPicker {
  height: 45px;
  width: 75%;
  border: solid 1px #000000;
  padding: 0;
}
.admin-panel .title {
  font-size: 1.4em;
  font-weight: bold;
}
.admin-panel a {
  color: #669999;
}
.admin-panel .propertyValue {
  font-weight: bold;
}
.admin-panel h4,
.admin-panel h5 {
  margin-bottom: 0;
  color: #666666;
}
.admin-panel h4 {
  font-size: 12px;
}
.admin-panel h5 {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}
.admin-panel h5:not(:first-of-type) {
  padding-top: 5px;
}
.admin-panel ul {
  list-style: none;
}
.add-link {
  font-weight: bold;
}
.dialog ul,
.dialog li {
  font-size: 12px;
  list-style: none;
}
.dialog li {
  margin-bottom: 5px;
}
table.list {
  border-collapse: collapse;
}
table.list,
.list td,
.list th {
  border: solid 1px #716e71;
}
.list td,
.list th {
  padding: 4px;
}
.row0 {
  background-color: #fff;
}
.row1 {
  background-color: #F9F9F9;
}
.list th.id,
.list td.id {
  display: none;
}
#groupUserList {
  overflow-y: auto;
}
.list tr.editable:hover {
  cursor: pointer;
  /*background-color: #FFFF99;*/
  background-color: #c5e4f1;
}
.userList .customAttributes {
  font-size: 9pt;
  font-weight: normal;
}
tr.pending {
  background-color: #ffb540;
  background-color: #fffa5f;
}
#cboxClose {
  display: none !important;
}
.wideLabel {
  display: inline-block;
  min-width: 100px;
}
.attributeDialog .wideLabel {
  min-width: 160px;
  text-align: right;
  padding-right: 4px;
}
.attributeDialog .textBoxOptions {
  padding-bottom: 10px;
}
#blackoutTable {
  width: 100%;
}
#configSettings {
  margin: 10px 0;
  padding: 10px;
  border: solid 1px #333333;
}
#configSettings fieldset {
  margin-bottom: 10px;
}
#configSettings .label,
#configSettings label {
  font-weight: normal;
  font-size: 12px;
  color: black;
}
#configSettings .label {
  min-width: 200px;
  display: inline-block;
}
#staticSlots {
  height: 400px;
}
#dailySlots,
#tabs {
  height: 450px;
  margin-bottom: 4px;
}
.allDailyLayouts {
  display: none;
}
#addedGroups,
#removedGroups {
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid 1px #777777;
}
#addedGroups a,
#removedGroups a {
  width: 30px;
  display: block;
  float: left;
  text-decoration: none;
}
#addedGroups a {
  background: url('../img/minus-gray.png') no-repeat;
}
#removedGroups a {
  background: url('../img/plus-button.png') no-repeat;
}
#group-tree {
  width: auto;
  float: left;
}
#resource-list {
  width: auto;
  float: right;
}
#resource-list,
#group-tree,
#new-group {
  font-size: 12pt;
}
.resource-draggable {
  cursor: move;
  border: solid 1px transparent;
  padding: 3px;
}
.resource-draggable:hover {
  border: dotted 1px #666;
}
.drop-resource {
  background-color: #fffcd3;
}
ul.jqtree-tree .group-resource .jqtree-title {
  color: #111111;
}
#resource-list h4 {
  font-size: 13pt;
  padding-left: 4px;
}
#manage-resource-groups-container {
  max-width: 700px;
}
.title .help {
  background: url(../img/question-button.png) no-repeat 50% 50%;
  width: 16px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
#customAttributeHeader {
  font-size: 13pt;
  margin-bottom: 10px;
}
.textBoxOptions div {
  margin: 1px 0;
}
#entityChoices,
#editEntityChoices {
  display: none;
  min-width: 150px;
  border: solid 1px #e2e2e2;
  padding: 10px;
  max-height: 400px;
  overflow-x: auto;
  overflow-y: visible;
  position: absolute;
  z-index: 10000;
  background-color: #f5f5f5;
  -moz-box-shadow: 0px 0px 3px 0px #ccc;
  -webkit-box-shadow: 0px 0px 3px 0px #ccc;
  box-shadow: 0px 0px 3px 0px #ccc;
}
#entityChoices li,
#editEntityChoices li {
  list-style: none;
  font-size: 10pt;
}
.ajax-indicator {
  display: none;
  background-image: url(../img/admin-ajax-indicator.gif);
  width: 35px;
  height: 35px;
}
#repeatDiv {
  padding: 0;
}
#repeatDiv div {
  padding: 2px 0;
}
#repeatOnWeeklyDiv label {
  min-width: 30px;
}
#updateBlackout {
  margin: 20px;
}
#updateBlackout ul {
  margin-bottom: 15px;
  list-style: none;
}
.blackoutResources {
  margin: 10px 0;
}
.blackouts-edit-resources {
  max-height: 250px;
  overflow-y: scroll;
}
.resourceItem {
  display: block;
}
.admin-update-buttons {
  margin-top: 5px;
}
#reservationColor {
  width: 100px;
}
.user-color {
  border: solid 1px #000;
  display: inline-block;
  margin-left: 4px;
  width: 16px;
  height: 16px;
}
.reservationResourceStatusReason {
  display: block;
  font-weight: bold;
}
.config-settings li {
  padding: 3px 0;
}
#reservationTable {
  width: 100%;
}
#reservationTable .user,
#reservationTable .title {
  width: 110px;
}
#reservationTable .resource {
  max-width: 150px;
}
#reservationTable .referenceNumber {
  width: 1px;
}
#reservationTable .date {
  width: 130px;
}
#reservationTable .duration {
  max-width: 75px;
}
#reservationTable tr.editable td {
  cursor: pointer;
}
.table .icon,
#list-quotas-panel .icon {
  font-size: 1.4em;
}
.inlineUpdate {
  cursor: pointer;
}
span.inlineUpdate {
  border-bottom: 1px dashed #999;
  text-decoration: none;
}
th.action,
td.action {
  max-width: 100px;
  text-align: center;
}
th.action-delete,
td.action-delete {
  width: 22px;
  text-align: center;
}
#adminFilterButtons {
  padding-top: 5px;
  margin-top: 15px;
  clear: both;
  border-top: solid 1px #cfcfcf;
}
label.label-top,
.label-top label {
  display: block;
  clear: left;
  font-size: 0.9em;
}
ul.resource-status-reasons li {
  padding: 5px 5px;
}
ul.resource-status-reasons {
  padding-bottom: 20px;
  padding-top: 5px;
}
.inlineUpdate:hover {
  background-color: #fffaeb;
}
#bulkUpdateDialog .title {
  font-size: 1.1em;
  font-weight: bold;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  background-color: #eee;
  padding: 3px 3px;
  margin: 7px 0;
}
.highlight {
  background-color: #b2c5ab;
}
#add-blackout-panel label {
  min-width: 100px;
}
td.date {
  width: 150px;
}
td.update {
  text-align: center;
  width: 65px;
}
#update-blackout-buttons {
  padding-bottom: 5px;
}
.resourceStatusReason,
.reasonId,
.statusId {
  width: 250px;
}
.descriptionValue {
  max-width: 40%;
}
.days,
.hours,
.minutes,
.credits {
  width: 80px;
}
.popover {
  max-width: 500px;
}
.quotaItem {
  padding: 4px;
}
.slotTimezone {
  margin: 5px 0;
}
.slotHelpText span {
  font-family: Courier new, serif;
}
#groupSearchPanel {
  margin-bottom: 15px;
}
#groupSearch {
  width: 400px;
}
#announcementList .announcementPriority {
  width: 100px;
}
#announcementList .announcementStart,
#announcementList .announcementEnd {
  width: 150px;
}
.appliesToId {
  display: none;
}
.add-quota-line {
  padding: 10px 0;
}
#enforce-hours-times {
  padding-left: 10px;
}
#enforce-hours-times span {
  margin-top: 10px;
}
#resource-images .resource-image img {
  width: 100%;
}
#sendStatusChangeMessageContent {
  background-color: #f0f0f0;
  border: solid 1px #999;
  padding: 1em;
}
.admin-page input,
#page-manage-blackouts input,
#page-manage-reservations input,
#page-manage-resources input,
#page-manage-users input,
#page-manage-quotas input,
.admin-page select,
#page-manage-blackouts select,
#page-manage-reservations select,
#page-manage-resources select,
#page-manage-users select,
#page-manage-quotas select {
  font-size: 12px;
}
.admin-page .form-group,
#page-manage-blackouts .form-group,
#page-manage-reservations .form-group,
#page-manage-resources .form-group,
#page-manage-users .form-group,
#page-manage-quotas .form-group {
  padding-bottom: 2px;
}
.admin-page .resourceDetails:not(:last-child),
#page-manage-blackouts .resourceDetails:not(:last-child),
#page-manage-reservations .resourceDetails:not(:last-child),
#page-manage-resources .resourceDetails:not(:last-child),
#page-manage-users .resourceDetails:not(:last-child),
#page-manage-quotas .resourceDetails:not(:last-child) {
  border-bottom: solid 1px #E9E9E9;
}
.admin-page textarea,
#page-manage-blackouts textarea,
#page-manage-reservations textarea,
#page-manage-resources textarea,
#page-manage-users textarea,
#page-manage-quotas textarea {
  max-width: 500px;
}
#page-manage-resource-groups #groupName {
  width: 80%;
}
#page-manage-payments .tab-content {
  padding-top: 15px;
}
#page-manage-reservation-colors label.customAttribute {
  display: inline;
}
