.admin {
	width: 75%;
}

.admin ul {
	list-style: none;
}

.admin .title{
	background-color: #f6f6f6;
	font-weight: bold;
	font-size: 14px;
	color: #596171;
	padding: 5px;
	border-bottom: solid 1px #CECFCE;
}

.admin {
	border: solid 1px #CECFCE;
}

.admin div {
	padding: 5px;
}
.admin a {
	color: #005B9A;
}

.admin .label {
	font-weight: bold;
}

.admin .note {
	font-style: italic;
	color: #8D96A8
}

.admin h4 {
	display:inline;
	font-size: 12px;
	color: #666666;
}

span.error {
	font-weight: bold;
	color: #CE0000;
}

#changeLayoutDialog textarea {
	width: 300px;
	height: 400px;
}

#changeLayoutDialog p {
	margin: 0px;
}