.admin {
	width: 100%;
}

.admin ul {
	list-style: none;
}

.admin .title{
	background-color: #f6f6f6;
	font-weight: bold;
	font-size: 14px;
	color: #596171;
	padding: 5px;
	border-bottom: solid 1px #CECFCE;
}

.admin {
	border: solid 1px #CECFCE;
}

.admin div {
	padding: 5px;
}
.admin a {
	color: #005B9A;
}

.admin .label {
	font-weight: bold;
}

.admin .note {
	font-style: italic;
	color: #8D96A8
}

.admin h4, .admin h5 {
	display:inline;
	color: #666666;
}

.admin h4 {
	font-size: 12px;
}

.admin h5 {
	font-size: 10px;	
}

span.error {
	font-weight: bold;
	color: #CE0000;
}

#changeLayoutDialog textarea {
	width: 300px;
	height: 375px;
}

#changeLayoutDialog p {
	margin: 0;
}

.scheduleDetails .layout {
	border-left:solid 1px #f0f0f0;
	float:right;
	width:550px;
}

.actions {
	clear:both;
	border-top:solid 1px #f0f0f0;
	border-bottom:solid 1px #f0f0f0;
	background-color: #fcfcfc;
}

.noImage {
	width: 98px; 
	height: 60px; 
	background-color: #f0f0f0; 
	line-height: 16px;
	text-align:center;
	color: #666;
	border: solid 1px #ccc;
}

.resourceDetails img.image {
	width: 100px;
}

.admin table {
	border-collapse: collapse;
}

.admin th, .admin td {
	padding: 5px;
}

.admin th {
	padding-bottom: 2px;
}

.admin th {
	text-align:left;
	font-size:14px;
}

.dialog ul, .dialog li {
	font-size: 12px;
	list-style: none;
}

.dialog li {
	margin-bottom: 5px;
}

table.list {
    border-collapse:collapse;
}

table.list, .list td, .list th {
     border: solid 1px #000000;
}

.list td, .list th {
    padding: 4px;
}
.list .row0 {
    background-color: #eeeeee;
}

.list .row1 {
    background-color: #fafafa;
}

.list th.id, .list td.id {
	display: none;
}

#groupUserList {
	overflow-y: auto;
}

.list tr.editable:hover {
	cursor: pointer;
	background-color: #FFFF99;
}

.list tr.clicked:hover, .list tr.clicked  {
	background-color: #FFFF33;
}

tr.pending {
	background-color: #ffb540;
}

#cboxClose {
	display:none !important;
}

.wideLabel { display:inline-block; min-width: 100px;}