/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  height: 100%;
}
body {
  padding-bottom: 45px;
}
a {
  color: #2b4e72;
}
.footer {
  text-align: center;
  border-top: solid 1px #343331;
  padding-top: 2px;
  color: #fff;
  font-size: .8em;
  background: #4e4d4a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5b5a56), color-stop(1, #4e4d4a));
  background: -ms-linear-gradient(bottom, #5b5a56, #4e4d4a);
  background: -moz-linear-gradient(center bottom, #5b5a56 0%, #4e4d4a 100%);
  background: -o-linear-gradient(#4e4d4a, #5b5a56);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4d4a', endColorstr='#5b5a56', GradientType=0);
  height: 45px;
  min-height: 45px;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.footer a {
  color: #fff;
}
#main {
  padding-top: 60px;
  min-height: 100%;
  padding-bottom: 45px;
}
.default-box {
  padding: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #e9e9e9;
  background-color: #f4f5ed;
}
.default-box-shadow {
  padding: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #e9e9e9;
  background-color: #f4f5ed;
  -webkit-box-shadow: 0px 0px 3px 0px #e9e9e9;
  -moz-box-shadow: 0px 0px 3px 0px #e9e9e9;
  box-shadow: 0px 0px 3px 0px #e9e9e9;
}
#page-login {
  height: 100%;
  margin-top: -20px;
  padding-top: 40px;
}
#page-login .default-box {
  background-color: #f6f6f6;
  border: solid 1px #e9e9e9;
}
#page-login .register {
  text-align: right;
}
.login-links {
  text-align: center;
}
div.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.default-box-header {
  background-color: #d5ded9;
  margin: -1px -1px 10px -1px;
  line-height: 35px;
  padding-left: 15px;
  font-size: 1.3em;
  font-weight: bold;
  color: #4e4d4a;
  border: solid 1px #e9e9e9;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.no-padding {
  padding: 0;
}
.default-box-footer {
  padding: 5px 0 5px 10px;
  clear: both;
  border-top: solid 1px #e9e9e9;
}
.form-control.dateinput,
.form-control.timeinput {
  width: 100px;
  padding: 3px;
  margin: 2px 0 5px 0;
}
/** Credit: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height **/
/* columns of same height styles */
.container-xs-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px;
}
.row-xs-height {
  display: table-row;
}
.col-xs-height {
  display: table-cell;
  float: none;
}
@media (min-width: 768px) {
  .container-sm-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-sm-height {
    display: table-row;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 992px) {
  .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-md-height {
    display: table-row;
  }
  .col-md-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 1200px) {
  .container-lg-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-lg-height {
    display: table-row;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
  }
}
/* vertical alignment styles */
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
#page-dashboard .panel-heading {
  background-color: #99b2b7;
  color: #fff;
}
#page-dashboard .panel-heading,
#page-dashboard .panel {
  border-color: #8aa7ac;
}
.dashboard {
  margin-top: 15px;
}
.dashboardContents {
  padding: 0;
}
.dashboardHeader {
  letter-spacing: 1px;
}
.dashboardHeader a {
  color: #f7f7f7;
}
.dashboard .noresults {
  text-align: center;
  font-style: italic;
}
.dashboardContents a {
  color: #3D72A4;
}
.dashboardContents .table {
  margin-bottom: 1px;
}
.upcomingReservationsDashboard .timespan td {
  font-style: italic;
  color: #000;
  background-color: #f9f2e7;
}
.upcomingReservationsDashboard tr.reservation.hover td {
  cursor: pointer;
  background-color: #e4eaec;
  color: #222;
}
.upcomingReservationsDashboard tr.reservation.clicked td {
  cursor: pointer;
  background-color: #F0F0F0;
}
table.reservations {
  border-collapse: collapse;
  width: 100%;
  font-size: .85em;
  table-layout: fixed;
  border: solid #36648B 1px;
}
table.reservations td {
  border: solid #36648B 1px;
  height: 30px;
  display: table-cell;
}
td.resourcename {
  padding: 1px 3px;
  background-color: #EDEDED;
  color: #999999;
}
td.resourcename a {
  color: #0772A1;
  text-decoration: none;
}
td.resourcename a:hover {
  color: #3BA3D0;
}
td.resdate {
  width: 150px;
  padding: 0 3px;
  background-color: #36648B;
  color: #F0F0F0;
}
tr.today td.resdate,
td.today {
  font-weight: bold;
  color: #FFFFFF;
  background-color: #5199d1;
}
#reservations .mobile {
  font-size: .8em;
}
#reservations .mobile .resdate {
  background-color: #4279A5;
  width: auto;
}
#reservations .mobile td.today {
  background-color: #5199d1;
}
#reservations .mobile .slot {
  padding: 2px;
}
tr.today td.reslabel {
  font-weight: bold;
  background-color: #cfcfcf;
}
.slot {
  min-width: 1px;
  max-width: 1px;
  overflow: hidden;
}
td.reslabel {
  padding-left: 2px;
  background-color: #EDEDED;
  color: #333333;
}
tr.today td.reslabel {
  color: #000000;
}
.unreservable {
  background-color: #CF9D9B;
  color: #fff;
}
td.reservable,
div.reservable {
  background-color: #FFF;
  color: #333;
}
.reserved {
  background-color: #408AD2;
  color: #fff;
}
td.reserved {
  padding-left: 1px;
}
.reserved.hilite {
  background-color: #59A8EF;
}
.reserved.mine {
  background-color: #6F9BAE;
}
.reserved.mine.hilite {
  background-color: #63AFD0;
  color: #ffffff;
}
.reserved.participating {
  background-color: #875cae;
}
.reserved.participating.hilite {
  background-color: #a979d1;
}
.reserved.pending {
  background-color: #ffb540;
  color: black;
}
.reserved.pending.hilite {
  background-color: #ffc973;
}
.reservable.hilite,
#reservations .ui-selecting {
  background-color: #23BF35;
}
.hilite {
  cursor: pointer;
}
.reservable.clicked,
#reservations .ui-selected {
  background-color: #259433;
}
.reserved.clicked {
  background-color: #1979CF;
}
.pasttime {
  background-color: #BDBDBD;
}
.restricted {
  background: url("../img/stripe.bg.red.png");
  color: black;
}
.schedule_title {
  text-align: center;
  vertical-align: top;
}
.schedule_title span {
  font-size: 2em;
}
.schedule_dates {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10px;
}
.ui-datepicker {
  margin-left: auto;
  margin-right: auto;
}
.res_popup_details .summary {
  font-style: italic;
}
.res_popup_details .user {
  font-weight: bold;
}
td.resourcename.hilite {
  background-color: #fbffc2;
}
div.legend {
  line-height: 25px;
  width: 110px;
  border: solid #555 2px;
  text-align: center;
  display: inline-block;
  *display: inline;
  margin: 0px 2px;
}
#reservations-left {
  padding: 0;
}
.reservations-left-header {
  border-bottom: solid 1px #e9e9e9;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  padding: 3px 0;
  color: #4e4d4a;
}
.reservations-left-content {
  padding: 10px;
}
ul.jqtree-tree .group-resource .jqtree-title {
  color: #111111;
}
#reservations-left > h4 {
  text-align: center;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background: none;
  font-weight: bold;
}
ul.jqtree-tree .jqtree-toggler {
  top: 10%;
}
#make_default {
  padding-right: 10px;
}
.table-cell-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
#reservations-left .textbox {
  width: 120px;
}
#reservations-left select.textbox,
#reservations-left textarea,
#reservations-left .button {
  width: 128px;
}
#reservations-left {
  font-size: .9em;
}
.advancedFilterTitle {
  margin-top: 10px;
  text-align: center;
}
#reservations-left hr {
  border: 0;
  height: 1px;
  background-color: #bcbcbc;
}
#calendar_toggle {
  color: #4e4d4a;
  padding-left: 5px;
}
#calendar_toggle:hover {
  color: #686763;
}
#calendar_toggle span {
  font-size: 16pt;
}
#page-schedule a {
  text-decoration: none;
}
#reservations-left .btn {
  width: 100%;
}
#reservations-left .form-group {
  margin-bottom: 3px;
}
#reservations-left .btn-clear {
  margin-top: 3px;
}
.reservations.mobile .reserved {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 1px 2px;
}
#resourceDetailsPopup {
  min-width: 300px;
  max-width: 1000px;
  width: auto;
}
#resourceDetailsPopup ul {
  margin-left: 25px;
}
#resourceDetailsPopup h4 {
  border-bottom: solid 1px #000;
  font-size: 1.2em;
  margin-bottom: 3px;
  font-weight: bold;
}
#resourceDetailsPopup .customAttribute {
  font-size: inherit;
}
#resourceDetailsPopup .attributes {
  border-left: solid 1px #ced1c5;
}
#resourceDetailsPopup .description,
#resourceDetailsPopup .attributes {
  padding: 10px 5px;
  float: left;
  max-width: 400px;
}
#resourceDetailsPopup .resourceImage {
  max-width: 200px;
  float: left;
}
#resourceDetailsPopup .resourceImage img {
  max-height: 200px;
  max-width: 200px;
}
#resourceDetailsDiv {
  display: none;
  position: absolute;
  border: solid 2px #212121;
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px #212121;
  -moz-box-shadow: 0px 0px 3px 0px #212121;
  box-shadow: 0px 0px 3px 0px #212121;
  z-index: 99999;
}
@media only screen and (max-device-width: 480px) {
  #resourceDetailsPopup {
    min-width: 250px;
    max-width: 310px;
    font-size: .8em;
  }
  #resourceDetailsPopup .description,
  #resourceDetailsPopup .attributes {
    max-width: auto;
    float: none;
  }
  #resourceDetailsPopup .resourceImage {
    float: none;
  }
  #resourceDetailsPopup ul,
  #resourceDetailsPopup li {
    margin-left: -10px;
  }
  #resourceDetailsPopup .attributes {
    border: none;
  }
}
#additionalResources {
  display: inline;
}
#additionalResources p {
  margin: 0px;
  font-style: italic;
}
.durationText {
  font-size: .9em;
  font-weight: bold;
  display: inline;
  color: #000;
}
#reservationbox {
  width: 100%;
  margin: 3em auto 1em;
}
#reservationbox ul {
  list-style: none;
}
#reservationbox input[type="file"] {
  font-size: 10pt;
}
#reservationbox .input {
  font-size: 16px;
  width: 98%;
  padding: 3px;
  margin: 2px 0 5px 0;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  color: #777;
}
#reservationbox.readonly label {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
#reservationbox.readonly ul {
  font-size: 16px;
  color: #333;
}
#reservationbox.readonly .section {
  padding-top: 15px;
}
#reservationbox.readonly .repeat-details,
#reservationbox.readonly .repeat-details label {
  margin-left: 10px;
  font-size: 15px;
}
#reservationDetails {
  float: left;
  width: 50%;
  border-right: solid 1px #ccc;
  padding-right: 25px;
}
.reservationButtons {
  margin-top: 20px;
}
.reservationReminders,
.reservationAttachments,
.customAttributes {
  margin: 5px 15px;
  padding: 5px;
  border-top: solid 1px #f0f0f0;
}
.reservationDeleteButtons {
  float: left;
}
.reservationSubmitButtons {
  float: right;
}
#reservationParticipation {
  float: right;
  width: 45%;
  height: 100%;
}
#participantList,
#inviteeList {
  height: 100px;
  width: 100%;
  overflow-y: auto;
  border: solid 1px #ededed;
}
#accessories {
  max-height: 200px;
  overflow: auto;
}
#accessories p {
  margin: 1px;
}
#reservationbox a {
  font-size: 12pt;
}
#dialogSave ul {
  text-align: left;
}
#dialogSave .error {
  background-image: none;
}
#dialogSave h2 {
  font-size: 18pt;
}
#dialogSave div {
  font-size: 16pt;
  text-align: center;
}
#dialogSave input,
#dialogSave button {
  font-size: 11pt;
}
.res-attachments {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #dedede;
}
.res-attachments .heading {
  font-size: 10pt;
  font-weight: bold;
}
#reservationbox .res-attachments a {
  font-size: 9pt;
}
#reminderOptionsStart {
  float: left;
  padding-right: 30px;
}
.reminderLabel {
  font-size: 10pt;
}
#reservationbox a.small-action {
  font-size: 9pt;
  color: #3d5b74;
}
.customAttributes {
  margin-top: 10px;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree .jqtree-toggler {
  top: 10%;
}
ul.jqtree-tree .group-resource .jqtree-title {
  color: #111111;
}
.buttonsTop {
  margin-bottom: 10px;
}
label.reservationDate {
  width: 50px;
  display: inline-block;
}
#reservationCreated .approvalMessage,
#reservationUpdated .approvalMessage {
  margin: 15px 0;
  font-size: smaller;
}
#changeUsers {
  display: none;
}
.reservationHeader h3 {
  margin: 0;
}
