/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  height: 100%;
}
body {
  padding-bottom: 45px;
  padding-top: 70px;
}
a,
a:visited {
  color: #428bca;
}
.footer {
  text-align: center;
  border-top: solid 1px #3e3d3b;
  padding-top: 2px;
  color: #fff;
  font-size: .8em;
  background: #585754;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #656460), color-stop(1, #585754));
  background: -ms-linear-gradient(bottom, #656460, #585754);
  background: -moz-linear-gradient(center bottom, #656460 0%, #585754 100%);
  background: -o-linear-gradient(#585754, #656460);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#585754', endColorstr='#656460', GradientType=0);
  height: 45px;
  min-height: 45px;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.footer a {
  color: #fff;
}
#main {
  min-height: 100%;
  padding-bottom: 45px;
}
.default-box {
  padding: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #e9e9e9;
  background-color: #f6f6f6;
}
.default-box h1 {
  color: #585754;
  margin-top: 0;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: solid 1px #bcbcbc;
}
@media (max-width: 768px) {
  .default-box h1 {
    font-size: 1.5em;
  }
}
.straight-top {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.no-rounding {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.default-box-shadow {
  padding: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #e9e9e9;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 0px 3px 0px #e9e9e9;
  -moz-box-shadow: 0px 0px 3px 0px #e9e9e9;
  box-shadow: 0px 0px 3px 0px #e9e9e9;
}
.default-box-shadow h1 {
  color: #585754;
  margin-top: 0;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: solid 1px #bcbcbc;
}
@media (max-width: 768px) {
  .default-box-shadow h1 {
    font-size: 1.5em;
  }
}
.default-box-header {
  background-color: #eeeeee;
  margin-bottom: -1px;
  line-height: 35px;
  padding: 0 15px;
  font-size: 1.3em;
  font-weight: bold;
  color: #585754;
  border: solid 1px #e9e9e9;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#page-login {
  height: 100%;
  margin-top: -20px;
  padding-top: 40px;
}
#page-login .default-box {
  background-color: #f6f6f6;
  border: solid 1px #e9e9e9;
}
#page-login .register {
  text-align: right;
  font-size: .8em;
}
.login-links {
  text-align: center;
}
div.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.no-padding {
  padding: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-margin {
  margin: 0;
}
.no-margin-left {
  margin-left: 0;
}
.no-margin-right {
  margin-right: 0;
}
.default-box-footer {
  padding: 5px 0 5px 10px;
  clear: both;
  border-top: solid 1px #e9e9e9;
}
.form-control.dateinput,
.form-control.timeinput {
  width: 100px;
}
/** Credit: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height **/
/* columns of same height styles */
.container-xs-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px;
}
.row-xs-height {
  display: table-row;
}
.col-xs-height {
  display: table-cell;
  float: none;
}
@media (min-width: 768px) {
  .container-sm-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-sm-height {
    display: table-row;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 992px) {
  .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-md-height {
    display: table-row;
  }
  .col-md-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 1200px) {
  .container-lg-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-lg-height {
    display: table-row;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
  }
}
/* vertical alignment styles */
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.horizontal-list ul {
  display: block;
  width: 100%;
  clear: both;
  margin: auto;
  list-style-type: none;
  padding-left: 0;
}
.horizontal-list li {
  clear: both;
  display: inline-block;
  list-style-type: none;
  min-width: 240px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.horizontal-list label {
  font-size: .9em;
}
.center {
  text-align: center;
}
.pagination-rows {
  padding-top: 10px;
  color: #585754;
  font-size: .8em;
  font-weight: bold;
}
.wait-box {
  display: none;
  text-align: center;
  top: 15%;
  position: relative;
  padding: 20px;
  border: 1px solid #585754;
}
.align-right {
  text-align: right;
}
label.booked-checkbox {
  margin-top: 10px;
}
label.booked-checkbox span {
  width: 10px;
}
.bv-hidden-submit {
  display: none !important;
}
.span0 {
  width: 0;
  margin-left: 0;
}
.navbar-fixed-top {
  z-index: 999;
}
.error-list {
  padding-left: 50px;
}
.no-show {
  display: none;
}
h1 .label {
  padding-bottom: .2em;
}
.no-data {
  font-style: italic;
  color: #585754;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
a.resourceDetails {
  text-decoration: none;
  cursor: default;
  color: #7a6a53;
}
input[type=text].user-search {
  width: 250px;
}
.remove.icon {
  color: #c37c82;
}
.remove.icon:hover {
  color: #b35961;
}
.add.icon {
  color: #94ba65;
}
.add.icon:hover {
  color: #7ba349;
}
.black.icon {
  color: #585754;
}
.bold {
  font-weight: bold;
}
.combobox-add {
  margin-left: 5px;
}
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.radio-primary input[type="radio"] + label::after {
  background-color: #428bca;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca;
}
.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}
.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}
.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}
.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}
#page-dashboard .panel-heading {
  background-color: #99b2b7;
  color: #fff;
}
#page-dashboard .panel-heading,
#page-dashboard .panel {
  border-color: #8aa7ac;
}
.dashboard {
  margin-top: 15px;
}
.dashboardContents {
  padding: 0;
}
.dashboardHeader {
  letter-spacing: 1px;
}
.dashboardHeader a {
  color: #f7f7f7;
}
.dashboard .noresults {
  text-align: center;
  font-style: italic;
}
.dashboardContents a {
  color: #3D72A4;
}
.dashboardContents .table {
  margin-bottom: 1px;
}
.upcomingReservationsDashboard .timespan td {
  font-style: italic;
  color: #000;
  background-color: #f9f2e7;
}
.upcomingReservationsDashboard tr.reservation.hover td {
  cursor: pointer;
  background-color: #e4eaec;
  color: #222;
}
.upcomingReservationsDashboard tr.reservation.clicked td {
  cursor: pointer;
  background-color: #F0F0F0;
}
.availabilityDashboard .dashboardContents {
  padding: 4px;
}
.availabilityDashboard .header {
  font-size: 1.2em;
  font-weight: bold;
}
.availabilityDashboard .resourceName {
  width: 240px;
  display: inline-block;
  text-overflow: ellipsis;
}
.availabilityDashboard .availability {
  width: 300px;
  display: inline-block;
  text-overflow: ellipsis;
}
.availabilityDashboard .availabilityItem {
  padding: 3px 0;
}
.availabilityDashboard .availabilityItem .btn {
  background-color: #e4dad8;
  color: #585754;
  border-color: #cfbdba;
}
.availabilityDashboard .availabilityItem .btn:hover {
  background-color: #daccc9;
  border-color: #c5afab;
}
table.reservations {
  border-collapse: collapse;
  width: 100%;
  font-size: .85em;
  table-layout: fixed;
  border: solid #36648B 1px;
}
table.reservations td {
  border: solid #36648B 1px;
  height: 30px;
  display: table-cell;
}
td.resourcename {
  padding: 1px 3px;
  background-color: #EDEDED;
  color: #999999;
}
td.resourcename a {
  color: #0772A1;
  text-decoration: none;
}
td.resourcename a:hover {
  color: #3BA3D0;
}
td.resdate {
  width: 150px;
  padding: 0 3px;
  background-color: #36648B;
  color: #F0F0F0;
}
tr.today td.resdate,
td.today {
  font-weight: bold;
  color: #FFFFFF;
  background-color: #5199d1;
}
#reservations .mobile {
  font-size: .8em;
}
#reservations .mobile .resdate {
  background-color: #4279A5;
  width: auto;
}
#reservations .mobile td.today {
  background-color: #5199d1;
}
#reservations .mobile .slot {
  padding: 2px;
}
tr.today td.reslabel {
  font-weight: bold;
  background-color: #cfcfcf;
}
.slot {
  min-width: 1px;
  max-width: 1px;
  overflow: hidden;
}
td.reslabel {
  padding-left: 2px;
  background-color: #EDEDED;
  color: #333333;
}
tr.today td.reslabel {
  color: #000000;
}
.unreservable {
  background-color: #CF9D9B;
  color: #fff;
}
td.reservable,
div.reservable {
  background-color: #FFF;
  color: #333;
}
.reserved {
  background-color: #408AD2;
  color: #fff;
}
td.reserved {
  padding-left: 1px;
}
.reserved.hilite {
  background-color: #59A8EF;
}
.reserved.mine {
  background-color: #6F9BAE;
}
.reserved.mine.hilite {
  background-color: #63AFD0;
  color: #ffffff;
}
.reserved.participating {
  background-color: #875cae;
}
.reserved.participating.hilite {
  background-color: #a979d1;
}
.reserved.pending {
  background-color: #ffb540;
  color: black;
}
.reserved.pending.hilite {
  background-color: #ffc973;
}
.reservable.hilite,
#reservations .ui-selecting {
  background-color: #23BF35;
}
.hilite {
  cursor: pointer;
}
.reservable.clicked,
#reservations .ui-selected {
  background-color: #259433;
}
.reserved.clicked {
  background-color: #1979CF;
}
.pasttime {
  background-color: #BDBDBD;
}
.restricted {
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #cccccc 10px, #cccccc 20px), linear-gradient(to bottom, #eeeeee, #999999);
  color: black;
}
.schedule_title {
  text-align: center;
  vertical-align: top;
}
.schedule_title span {
  font-size: 2em;
}
.schedule-dates {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10px;
}
.ui-datepicker {
  margin-left: auto;
  margin-right: auto;
}
.res_popup_details .summary {
  font-style: italic;
}
.res_popup_details .user {
  font-weight: bold;
}
td.resourcename.hilite {
  background-color: #fbffc2;
}
div.legend {
  line-height: 25px;
  width: 110px;
  border: solid #555 2px;
  text-align: center;
  display: inline-block;
  *display: inline;
  margin: 0px 2px;
}
#reservations-left {
  padding: 0;
}
.reservations-left-header {
  border-bottom: solid 1px #e9e9e9;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  padding: 3px 0;
  color: #585754;
}
.reservations-left-content {
  padding: 10px;
}
ul.jqtree-tree .group-resource .jqtree-title {
  color: #111111;
}
#reservations-left > h4 {
  text-align: center;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background: none;
  font-weight: bold;
}
ul.jqtree-tree .jqtree-toggler {
  top: 10%;
}
#make_default {
  padding-right: 10px;
}
.table-cell-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
#reservations-left .textbox {
  width: 120px;
}
#reservations-left select.textbox,
#reservations-left textarea,
#reservations-left .button {
  width: 128px;
}
#reservations-left {
  font-size: .9em;
}
.advancedFilterTitle {
  margin-top: 10px;
  text-align: center;
}
#reservations-left hr {
  border: 0;
  height: 1px;
  background-color: #bcbcbc;
}
#calendar_toggle {
  color: #585754;
  padding-left: 5px;
}
#calendar_toggle:hover {
  color: #72716d;
}
#calendar_toggle span {
  font-size: 16pt;
}
#page-schedule a {
  text-decoration: none;
}
#reservations-left .btn {
  width: 100%;
}
#reservations-left .form-group {
  margin-bottom: 3px;
}
#reservations-left .btn-clear {
  margin-top: 3px;
}
.reservations.mobile .reserved {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 1px 2px;
}
a.toggle-sidebar {
  color: #585754;
}
.no-resource-warning {
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#resourceDetailsPopup {
  min-width: 300px;
  max-width: 1000px;
  width: auto;
}
#resourceDetailsPopup ul {
  margin-left: 25px;
}
#resourceDetailsPopup h4 {
  border-bottom: solid 1px #000;
  font-size: 1.2em;
  margin-bottom: 3px;
  font-weight: bold;
}
#resourceDetailsPopup .customAttribute {
  font-size: inherit;
}
#resourceDetailsPopup .attributes {
  border-left: solid 1px #ced1c5;
}
#resourceDetailsPopup .description,
#resourceDetailsPopup .attributes {
  padding: 10px 5px;
  float: left;
  max-width: 400px;
}
#resourceDetailsPopup .resourceImage {
  max-width: 200px;
  float: left;
}
#resourceDetailsPopup .resourceImage img {
  max-height: 200px;
  max-width: 200px;
}
#resourceDetailsDiv {
  display: none;
  position: absolute;
  border: solid 2px #212121;
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px #212121;
  -moz-box-shadow: 0px 0px 3px 0px #212121;
  box-shadow: 0px 0px 3px 0px #212121;
  z-index: 99999;
}
@media only screen and (max-device-width: 480px) {
  #resourceDetailsPopup {
    min-width: 250px;
    max-width: 310px;
    font-size: .8em;
  }
  #resourceDetailsPopup .description,
  #resourceDetailsPopup .attributes {
    max-width: auto;
    float: none;
  }
  #resourceDetailsPopup .resourceImage {
    float: none;
  }
  #resourceDetailsPopup ul,
  #resourceDetailsPopup li {
    margin-left: -10px;
  }
  #resourceDetailsPopup .attributes {
    border: none;
  }
}
#additionalResources {
  display: inline;
}
#additionalResources p {
  margin: 0px;
  font-style: italic;
}
.durationText {
  font-size: .9em;
  font-weight: bold;
  display: inline;
  color: #000;
}
#reservationbox {
  width: 100%;
  margin: 3em auto 1em;
}
#reservationbox ul {
  list-style: none;
}
#reservationbox input[type="file"] {
  font-size: 10pt;
}
#reservationbox .input {
  font-size: 16px;
  width: 98%;
  padding: 3px;
  margin: 2px 0 5px 0;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  color: #777;
}
#reservationbox.readonly label {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
#reservationbox.readonly ul {
  font-size: 16px;
  color: #333;
}
#reservationbox.readonly .section {
  padding-top: 15px;
}
#reservationbox.readonly .repeat-details,
#reservationbox.readonly .repeat-details label {
  margin-left: 10px;
  font-size: 15px;
}
#reservationDetails {
  padding-right: 25px;
}
.reservationButtons {
  margin-top: 20px;
}
.reservationReminders,
.reservationAttachments,
.customAttributes {
  padding-top: 6px;
}
.reservationDeleteButtons {
  float: left;
}
.reservationSubmitButtons {
  float: right;
}
#reservationParticipation {
  padding-left: 25px;
  border-left: solid 1px #bcbcbc;
}
#participantList,
#inviteeList {
  height: 150px;
  width: 98%;
  overflow-y: auto;
  border: solid 1px #e9e9e9;
  padding: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 5px;
}
#accessories {
  max-height: 200px;
  overflow: auto;
}
#accessories p {
  margin: 1px;
}
#reservationbox a {
  font-size: 12pt;
}
#dialogSave ul {
  text-align: left;
}
#dialogSave .error {
  background-image: none;
}
#dialogSave h2 {
  font-size: 18pt;
}
#dialogSave div {
  font-size: 16pt;
  text-align: center;
}
#dialogSave input,
#dialogSave button {
  font-size: 11pt;
}
.res-attachments {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #dedede;
}
.res-attachments .heading {
  font-size: 10pt;
  font-weight: bold;
}
#reservationbox .res-attachments a {
  font-size: 9pt;
}
#reminderOptionsStart {
  float: left;
  padding-right: 30px;
}
.reminderLabel {
  font-size: 10pt;
}
#reservationbox a.small-action {
  font-size: 9pt;
  color: #3d5b74;
}
.customAttributes {
  margin-top: 10px;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree .jqtree-toggler {
  top: 10%;
}
ul.jqtree-tree .group-resource .jqtree-title {
  color: #111111;
}
.buttonsTop {
  margin-bottom: 10px;
}
label.reservationDate {
  width: 50px;
  display: inline-block;
}
#reservationCreated .approvalMessage,
#reservationUpdated .approvalMessage {
  margin: 15px 0;
  font-size: smaller;
}
#changeUsers {
  display: none;
}
.reservationHeader h3 {
  margin: 0;
}
.repeat-drop {
  width: auto;
}
.repeat-interval-drop {
  width: auto;
}
.weeks,
.months {
  margin-top: 5px;
}
.weeks .btn-sm {
  width: 55px;
}
#reservation-box label {
  min-width: 50px;
}
.accessory-quantity {
  width: 60px;
}
.reminderTime {
  width: 65px;
}
.reminderInterval {
  width: auto;
}
a.add {
  color: #353432;
  text-decoration: none;
}
a.add .icon {
  color: #94ba65;
}
a.remove {
  color: #c37c82;
}
#reservation-response-image .error {
  color: #c37c82;
}
#reservation-response-image .warning {
  color: #fa6900;
}
#reservation-response-image .success {
  color: #94ba65;
}
.reservation-message {
  font-size: 2em;
  font-weight: bold;
}
#custom-attributes-placeholder .form-group {
  margin: 0;
}
#custom-attributes-placeholder .customAttribute {
  max-width: 250px;
  display: inline-block;
}
.admin {
  width: 100%;
}
.admin ul {
  list-style: none;
}
.admin .title {
  background-color: #f6f6f6;
  font-weight: bold;
  font-size: 14px;
  color: #596171;
  padding: 5px;
  border-bottom: solid 1px #CECFCE;
  position: relative;
}
.admin {
  border: solid 1px #CECFCE;
  font-size: 12px;
}
.admin a {
  color: #428bca;
}
.admin .label {
  font-weight: bold;
}
.admin .note {
  font-style: italic;
  color: #8d96a8;
}
.admin h4,
.admin h5 {
  margin-bottom: 0;
  color: #666666;
}
.admin h4 {
  font-size: 12px;
}
.admin h5 {
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;
}
.admin h5:not(:first-of-type) {
  padding-top: 5px;
}
span.error {
  font-weight: bold;
  color: #CE0000;
}
#changeLayoutDialog textarea {
  width: 300px;
  height: 375px;
}
#changeLayoutDialog p {
  margin: 0;
}
.scheduleDetails .layout {
  border-left: solid 1px #f0f0f0;
  float: right;
  width: 550px;
}
.actions {
  clear: both;
  border-top: solid 1px #f0f0f0;
  border-bottom: solid 1px #f0f0f0;
  background-color: #fcfcfc;
  line-height: 20px;
}
.noImage {
  height: 60px;
  background-color: #f0f0f0;
  line-height: 16px;
  text-align: center;
  color: #666;
  border: solid 1px #ccc;
  font-size: 4em;
}
.resourceDetails {
  font-size: 1.2em;
  padding: 3px;
}
.resourceDetails img.image {
  width: 100px;
}
.resourceDetails .resourceImage {
  text-align: center;
}
.resourceDetails .resourceName {
  font-size: 1.4em;
  font-weight: bold;
}
.admin table {
  border-collapse: collapse;
}
.admin th,
.admin td {
  padding: 5px;
}
.admin th {
  padding-bottom: 2px;
}
.admin th {
  text-align: left;
  font-size: 14px;
}
.dialog ul,
.dialog li {
  font-size: 12px;
  list-style: none;
}
.dialog li {
  margin-bottom: 5px;
}
table.list {
  border-collapse: collapse;
}
table.list,
.list td,
.list th {
  border: solid 1px #716e71;
}
.list td,
.list th {
  padding: 4px;
}
.row0 {
  background-color: #f0f0f0;
}
.row1 {
  background-color: #fafafa;
}
.list th.id,
.list td.id {
  display: none;
}
#groupUserList {
  overflow-y: auto;
}
.list tr.editable:hover {
  cursor: pointer;
  /*background-color: #FFFF99;*/
  background-color: #c5e4f1;
}
/*.list tr.clicked:hover, .list tr.clicked  {*/
/*background-color: #FFFF33;*/
/*}*/
.userList .customAttributes {
  font-size: 9pt;
  font-weight: normal;
}
tr.pending {
  background-color: #ffb540;
}
#cboxClose {
  display: none !important;
}
.wideLabel {
  display: inline-block;
  min-width: 100px;
}
/*#addAttribute {*/
/*width: 300px;*/
/*}*/
.attributeDialog .wideLabel {
  min-width: 160px;
  text-align: right;
  padding-right: 4px;
}
.attributeDialog .textBoxOptions {
  padding-bottom: 10px;
}
#blackoutTable {
  width: 100%;
}
#configSettings {
  margin: 10px 0;
  padding: 10px;
  border: solid 1px #333333;
}
#configSettings fieldset {
  margin-bottom: 10px;
}
#configSettings .label,
#configSettings label {
  font-weight: normal;
  font-size: 12px;
  color: black;
}
#configSettings .label {
  min-width: 200px;
  display: inline-block;
}
#staticSlots {
  height: 375px;
}
#dailySlots,
#tabs {
  height: 450px;
  margin-bottom: 4px;
}
.allDailyLayouts {
  display: none;
}
#removedGroups {
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid 1px #777777;
}
#addedGroups a,
#removedGroups a {
  width: 30px;
  display: block;
  float: left;
  text-decoration: none;
}
#addedGroups a {
  background: url('../img/minus-gray.png') no-repeat;
}
#removedGroups a {
  background: url('../img/plus-button.png') no-repeat;
}
#group-tree {
  width: auto;
  float: left;
}
#resource-list {
  width: auto;
  float: right;
}
#resource-list,
#group-tree,
#new-group {
  font-size: 12pt;
}
.resource-draggable {
  cursor: move;
  border: solid 1px transparent;
  padding: 3px;
}
.resource-draggable:hover {
  border: dotted 1px #666;
}
.drop-resource {
  background-color: #fffcd3;
}
ul.jqtree-tree .group-resource .jqtree-title {
  color: #111111;
}
.remove-resource {
  display: inline;
  width: 16px;
  margin-left: 10px;
  background: url(../img/minus-circle.png) no-repeat 50%;
}
#resource-list h4 {
  font-size: 13pt;
  padding-left: 4px;
}
#manage-resource-groups-container {
  max-width: 700px;
}
.title .help {
  background: url(../img/question-button.png) no-repeat 50% 50%;
  width: 16px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
#customAttributeHeader {
  font-size: 13pt;
  margin-bottom: 10px;
}
.textBoxOptions div {
  margin: 1px 0;
}
#entityChoices {
  display: none;
  min-width: 150px;
  border: solid 1px #e2e2e2;
  padding: 10px;
  max-height: 400px;
  overflow-x: auto;
  overflow-y: visible;
  position: absolute;
  z-index: 10000;
  background-color: #f5f5f5;
  -moz-box-shadow: 0px 0px 3px 0px #ccc;
  -webkit-box-shadow: 0px 0px 3px 0px #ccc;
  box-shadow: 0px 0px 3px 0px #ccc;
}
#entityChoices li {
  list-style: none;
  font-size: 10pt;
}
.ajax-indicator {
  display: none;
  background-image: url(../img/admin-ajax-indicator.gif);
  width: 35px;
  height: 35px;
}
.resourceValue {
  font-weight: bold;
}
#repeatDiv,
#repeatDiv div {
  padding: 0;
}
#repeatOnWeeklyDiv label {
  min-width: 30px;
}
#updateBlackout {
  margin: 20px;
}
#updateBlackout ul {
  margin-bottom: 15px;
  list-style: none;
}
.blackoutResources {
  margin: 10px 0;
}
.resourceItem {
  display: block;
}
.admin-update-buttons {
  margin-top: 5px;
}
#reservationColor {
  width: 75px;
}
.user-color {
  border: solid 1px #000;
  display: inline-block;
  margin-left: 4px;
  width: 16px;
  height: 16px;
}
.reservationResourceStatusReason {
  display: block;
  font-weight: bold;
}
.config-settings li {
  padding: 3px 0;
}
#reservationTable {
  width: 100%;
}
#reservationTable .user,
#reservationTable .title {
  width: 110px;
}
#reservationTable .resource {
  max-width: 150px;
}
#reservationTable .referenceNumber {
  width: 1px;
}
#reservationTable .date {
  width: 130px;
}
#reservationTable .duration {
  max-width: 75px;
}
#reservationTable tr.editable td {
  cursor: pointer;
}
#reservationTable .icon {
  font-size: 1.4em;
}
.inlineUpdate {
  cursor: pointer;
}
th.action,
td.action {
  max-width: 50px;
  text-align: center;
}
#adminFilterButtons {
  padding-top: 5px;
  margin-top: 15px;
  clear: both;
  border-top: solid 1px #cfcfcf;
}
label.label-top,
.label-top label {
  display: block;
  clear: left;
  font-size: .9em;
}
ul.resource-status-reasons li {
  padding: 5px 5px;
}
ul.resource-status-reasons {
  padding-bottom: 20px;
  padding-top: 5px;
}
.inlineUpdate:hover {
  background-color: #fffaeb;
}
#bulkUpdateDialog .title {
  font-size: 1.1em;
  font-weight: bold;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  background-color: #eee;
  padding: 3px 3px;
  margin: 7px 0;
}
.highlight {
  background-color: #efdd6f;
}
#add-blackout-panel label {
  min-width: 100px;
}
td.date {
  width: 150px;
}
td.update {
  text-align: center;
  width: 65px;
}
#update-blackout-buttons {
  padding-bottom: 5px;
}
.resourceStatusReason,
.reasonId,
.statusId {
  width: 250px;
}
.descriptionValue {
  max-width: 40%;
}
#page-manage-blackouts input,
#page-manage-reservations input,
#page-manage-resources input,
#page-manage-blackouts select,
#page-manage-reservations select,
#page-manage-resources select {
  height: 30px;
  font-size: 12px;
}
#page-manage-blackouts .form-group,
#page-manage-reservations .form-group,
#page-manage-resources .form-group {
  padding-bottom: 2px;
}
#page-manage-blackouts .checkbox input,
#page-manage-reservations .checkbox input,
#page-manage-resources .checkbox input {
  height: 20px;
}
#install-page input {
  width: 250px;
}
