.monthCalendar
{
	width: 100%;
	border-collapse: collapse;
}

.monthCalendar a
{
	text-decoration: none;
}

.monthCalendar a:hover
{
	text-decoration: underline;
}

.monthCalendar, .monthCalendar td, .monthCalendar th
{
	border: solid 1px #dddddd;
}

.dayName th
{
	background-color: #fcfcfc;
	padding: 3px 0px;
	width: 14%;
}

.monthCalendar td
{
	height: 120px;
	vertical-align: top;
	padding: 2px;
}

.today
{
	background-color: #FFFFE0;
}

.unimportant
{
	background-color: #ededed;
}

.hover
{
	cursor: pointer;
	background-color: #D9E9FA;
}