/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/* Main Secondary color (1) */
/* Main Primary color */
/* Main Complement color */
.calendarHeading {
  color: #666666;
  border-bottom: solid 1px #666666;
  padding: 10px 0px 3px 5px;
  margin-bottom: 10px;
  font-size: 16pt;
  font-weight: bold;
}
.calendarHeading a {
  font-weight: normal;
  font-size: 10pt;
}
.noresults {
  font-style: italic;
  font-size: 14pt;
}
.fc-agenda-allday {
  display: none;
}
.fc-day-grid-event .fc-content {
  white-space: normal !important;
}
.select2-results .schedule {
  font-weight: bold;
}
.select2-results .resource {
  padding-left: 15px;
}
.calendar-subscription {
  text-align: right;
  padding: 10px 0;
}
#calendar a,
#calendar a:visited {
  color: #fff;
}
.unreservable.fc-event {
  border: none;
}
.reservable.fc-event {
  border: solid 1px #585754;
  background-color: #F9F9F9;
  color: #333 !important;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background: none;
  font-weight: bold;
}
ul.jqtree-tree .jqtree-toggler {
  top: 10%;
}
#resourceGroupsContainer {
  background-color: #fff;
  padding: 10px;
  display: none;
  width: 200px;
  height: 300px;
  border: solid 1px #999;
  z-index: 200;
  position: absolute;
  overflow: scroll;
}
.groupName {
  font-size: 1.5em;
  font-weight: bold;
}
#dayDialog,
#deleteCustomLayoutDialog,
#confirmCreateSlotDialog {
  display: none;
  background-color: #F9F9F9;
  border-color: #BCBCBC;
  position: absolute;
  z-index: 2;
  padding: 12px;
}
#dayDialog a,
#deleteCustomLayoutDialog a,
#confirmCreateSlotDialog a {
  padding: 0 5px;
}
.fc-day {
  background-color: #fff;
}
.fc-day-header {
  background-color: #FFF8E7;
}
#page-calendar #filter,
#page-my-calendar #filter {
  margin: 15px;
  text-align: center;
}
