
.dashboard {
    margin-top: 15px;
    width:100%;
}

.dashboardContents {
	padding: 4px;
	background-color: #E6E6DC;
}

.dashboardHeader {
    background-color: #CCCC99;
    border-bottom: solid 1px #666633;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0px 2px 10px;
    letter-spacing: 1px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dashboardHeader a
{
	color: #0F3B5F;
}

.dashboard .noresults {
	text-align: center;
	font-style: italic;
}

.dashboardContents table {
	border-collapse: collapse;
	width:100%;
}

.dashboardContents a {
	color: #3D72A4;
}

.dashboardContents table, .dashboardContents table td, .dashboardContents table th {
	border: solid 1px #CCCC99;
	text-align: left;
	padding: 4px;
	background-color: #F5F5F5;
	color: #666;
}

.dashboardContents li{
	list-style: circle;
	margin-left: 30px;
}

.upcomingReservationsDashboard .timespan td {
	background-color: #ececec;
	font-style: italic;
	color: #000;
}
	
.upcomingReservationsDashboard tr.reservation.hover td {
	cursor: pointer;
	background-color: #FEFEFE;
	color: #222;
}

.upcomingReservationsDashboard tr.reservation.clicked td {
	cursor: pointer;
	background-color: #F0F0F0;
}