/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/* Main Secondary color (1) */
/* Main Primary color */
/* Main Complement color */
#page-dashboard .panel-heading {
  background-color: #9BC2C2;
  color: #fff;
}
#page-dashboard .panel-heading,
#page-dashboard .panel {
  border-color: #8bb8b8;
}
.dashboard {
  margin-top: 15px;
  border: 1px solid #4c4854;
  background-color: #fcfcfc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 5px 1px #99988e;
  -moz-box-shadow: 0px 0px 5px 1px #99988e;
  box-shadow: 0px 0px 5px 1px #99988e;
}
.dashboardContents {
  padding: 15px;
}
.dashboardHeader {
  letter-spacing: 1px;
  padding: 5px 20px;
  color: #fff;
  background-color: #58545d;
}
.dashboardHeader .badge {
  background-color: #736a81;
}
.dashboardHeader a {
  color: #fff;
}
.dashboard .noresults {
  text-align: center;
  font-style: italic;
}
.dashboardContents a {
  color: #3D72A4;
  padding: 5px;
}
.dashboardContents .table {
  margin-bottom: 1px;
}
.upcomingReservationsDashboard .timespan {
  padding: 3px;
  font-style: italic;
  color: #000;
  background-color: #FFF8E7;
  border-bottom: 1px solid #E9E9E9;
}
.upcomingReservationsDashboard .reservation {
  padding: 3px 0;
  border-bottom: 1px solid #E9E9E9;
  margin: 0 3px;
}
.upcomingReservationsDashboard .reservation.hover {
  cursor: pointer;
  background-color: #eaf2f2;
  color: #222;
}
.upcomingReservationsDashboard .reservation.clicked {
  cursor: pointer;
  background-color: #F0F0F0;
}
.upcomingReservationsDashboard .reservation.pending {
  background-color: #ffb540;
}
.upcomingReservationsDashboard .reservation.pending.hover,
.upcomingReservationsDashboard .reservation.pending.clicked {
  background-color: #ffc973;
}
.availabilityDashboard .header {
  font-size: 1.2em;
  font-weight: bold;
}
.availabilityDashboard .resourceName {
  text-overflow: ellipsis;
  color: #428181;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 1px;
  display: inline-block;
  margin-right: 2px;
  background-color: #CFE4E4;
}
.availabilityDashboard .resourceName a {
  color: #428181;
}
.availabilityDashboard .resourceName .fa:last-of-type {
  margin-right: 2px;
}
.availabilityDashboard .availability {
  text-overflow: ellipsis;
}
.availabilityDashboard .availabilityItem {
  padding: 10px 0;
}
.availabilityDashboard .availabilityItem .btn {
  background-color: #58AC58;
  color: #fff;
  border-color: #458c45;
  padding: 1px 20px;
}
.availabilityDashboard .availabilityItem .btn:hover {
  background-color: #4e9d4e;
  border-color: #3d7b3d;
}
.availabilityDashboard h5 {
  margin: 0;
  font-weight: bold;
  color: #BCBCBC;
}
