#page-dashboard .panel-heading {
  background-color: #99b2b7;
  color: #fff;
}
#page-dashboard .panel-heading,
#page-dashboard .panel {
  border-color: #8aa7ac;
}
.dashboard {
  margin-top: 15px;
}
.dashboardContents {
  padding: 0;
}
.dashboardHeader {
  letter-spacing: 1px;
}
.dashboardHeader a {
  color: #f7f7f7;
}
.dashboard .noresults {
  text-align: center;
  font-style: italic;
}
.dashboardContents a {
  color: #3D72A4;
}
.dashboardContents .table {
  margin-bottom: 1px;
}
.upcomingReservationsDashboard .timespan td {
  font-style: italic;
  color: #000;
  background-color: #f9f2e7;
}
.upcomingReservationsDashboard tr.reservation.hover td {
  cursor: pointer;
  background-color: #e4eaec;
  color: #222;
}
.upcomingReservationsDashboard tr.reservation.clicked td {
  cursor: pointer;
  background-color: #F0F0F0;
}
