/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  height: 100%;
}
body {
  padding-bottom: 45px;
}
a {
  color: #2b4e72;
}
.footer {
  text-align: center;
  border-top: solid 1px #343331;
  padding-top: 2px;
  color: #fff;
  font-size: .8em;
  background: #4e4d4a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5b5a56), color-stop(1, #4e4d4a));
  background: -ms-linear-gradient(bottom, #5b5a56, #4e4d4a);
  background: -moz-linear-gradient(center bottom, #5b5a56 0%, #4e4d4a 100%);
  background: -o-linear-gradient(#4e4d4a, #5b5a56);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4d4a', endColorstr='#5b5a56', GradientType=0);
  height: 45px;
  min-height: 45px;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.footer a {
  color: #fff;
}
#main {
  padding-top: 60px;
  min-height: 100%;
  padding-bottom: 45px;
}
.default-box {
  padding: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #e9e9e9;
  background-color: #f4f5ed;
}
.straight-top {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.default-box-shadow {
  padding: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #e9e9e9;
  background-color: #f4f5ed;
  -webkit-box-shadow: 0px 0px 3px 0px #e9e9e9;
  -moz-box-shadow: 0px 0px 3px 0px #e9e9e9;
  box-shadow: 0px 0px 3px 0px #e9e9e9;
}
#page-login {
  height: 100%;
  margin-top: -20px;
  padding-top: 40px;
}
#page-login .default-box {
  background-color: #f6f6f6;
  border: solid 1px #e9e9e9;
}
#page-login .register {
  text-align: right;
}
.login-links {
  text-align: center;
}
div.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.default-box-header {
  background-color: #d5ded9;
  line-height: 35px;
  padding: 0 15px;
  font-size: 1.3em;
  font-weight: bold;
  color: #4e4d4a;
  border: solid 1px #e9e9e9;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.no-padding {
  padding: 0;
}
.default-box-footer {
  padding: 5px 0 5px 10px;
  clear: both;
  border-top: solid 1px #e9e9e9;
}
.form-control.dateinput,
.form-control.timeinput {
  width: 100px;
  padding: 3px;
  margin: 2px 0 5px 0;
}
/** Credit: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height **/
/* columns of same height styles */
.container-xs-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px;
}
.row-xs-height {
  display: table-row;
}
.col-xs-height {
  display: table-cell;
  float: none;
}
@media (min-width: 768px) {
  .container-sm-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-sm-height {
    display: table-row;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 992px) {
  .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-md-height {
    display: table-row;
  }
  .col-md-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 1200px) {
  .container-lg-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-lg-height {
    display: table-row;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
  }
}
/* vertical alignment styles */
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.horizontal-list ul {
  display: block;
  width: 100%;
  clear: both;
  margin: auto;
  list-style-type: none;
  padding-left: 0;
}
.horizontal-list li {
  clear: both;
  display: inline-block;
  list-style-type: none;
  min-width: 240px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.horizontal-list label {
  font-size: .9em;
}
.center {
  text-align: center;
}
.pagination-rows {
  padding-top: 10px;
  color: #4e4d4a;
  font-size: .8em;
  font-weight: bold;
}
.wait-box {
  display: none;
  text-align: center;
  top: 15%;
  position: relative;
}
.align-right {
  text-align: right;
}
label.booked-checkbox {
  margin-top: 10px;
}
label.booked-checkbox span {
  width: 10px;
}
