/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  height: 100%;
}
body {
  padding-bottom: 50px;
  /* this needs to be bigger than footer height*/
}
a {
  color: #2b4e72;
}
.footer {
  text-align: center;
  border-top: solid 1px #343331;
  padding-top: 2px;
  color: #fff;
  font-size: .8em;
  background: #4e4d4a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5b5a56), color-stop(1, #4e4d4a));
  background: -ms-linear-gradient(bottom, #5b5a56, #4e4d4a);
  background: -moz-linear-gradient(center bottom, #5b5a56 0%, #4e4d4a 100%);
  background: -o-linear-gradient(#4e4d4a, #5b5a56);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4d4a', endColorstr='#5b5a56', GradientType=0);
  height: 50px;
}
.footer a {
  color: #fff;
}
#main {
  height: 100%;
  padding-bottom: 50px;
}
.default-box {
  padding: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #e9e9e9;
}
#page-login {
  height: 100%;
  margin-top: -20px;
  padding-top: 40px;
}
#page-login .default-box {
  background-color: #f6f6f6;
  border: solid 1px #e9e9e9;
}
#login-links {
  text-align: center;
}
