#logo {
	line-height:46px;
	float:left;
	color:#fff;
	font-size:16pt;
	width:250px;
}

#nav {
	list-style: none;
	list-style-type: none;
}

#nav ul {
	margin: 0;
	padding: 0;
	left:0; 
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	position: absolute;
	display: none;
	z-index: 999;
}

#nav li {
	float: left;
	position: relative;
	border-right: solid 1px #436981;
}

#nav a {
	display: block;
	padding: 0px 5px;
	color: #fff;
	text-decoration: none;
}

#nav li.first
{
	border-left: solid 1px #436981;
}

/*

#nav li ul a {
	float: left;
}

#nav ul ul {
	top: auto;
}
*/
#nav li ul ul {
	left: 12em;
	left: 190px;
	top: 7px;
	margin: 0px 0 0 10px;
}

#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li:hover ul ul ul ul {
	display: none;
}

#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li li li li:hover ul {
	display: block;
}

#header {
    min-width: 900px;
    margin:0 15px;
    background: #3E5E79; /*url(../img/header-bg-c.png) repeat;*/
    height: 46px;
    padding-left: 30px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#nav .menubaritem {
    font-size: 10pt;
	height: 46px;
	padding: 0 2px;
	text-align: center;
}

li.menubaritem {
	border: 1px 0 0 0;
	min-width: 90px;
}

li.menubaritem a {
	line-height: 46px;
	font-weight: bold;
}

.menubaritem a:hover {
	background: #31526f; /* url(../img/header-menu-bg.png) top right no-repeat; */
	background: #3d5b74; /* url(../img/header-menu-bg.png) top right no-repeat; */
}

li.menubaritem ul li a {
	line-height:40px;
	font-size: 9pt;
	width: 190px;
	text-align: left;
	font-weight: normal;
}

li.menubaritem ul {
	margin-top: 15px;
}

li.menubaritem:hover, li.menubaritem ul li {
	background-color: #3d5b74;
}

li.menubaritem ul li {
	border: solid 1px #436981;
	border-top-width: 0px;
}

li.menubaritem ul li a:hover{
	background: #31526f;
}