#logo {
	float:left;
	color:#fff;
	font-size:16pt;
	height:63px;
}

#logo img {
	max-width: 100%;
	padding-left:12px;
}

#nav {
	list-style: none none;
	padding-left:25px;
}

#nav ul {
	margin: 0;
	padding: 0;
	left:0;
	list-style: none outside none;
	position: absolute;
	display: none;
	z-index: 999;
}

#nav li {
	float: left;
	position: relative;
	border-right: solid 1px #5e5d69;
}

#nav a {
	display: block;
	padding: 0 5px;
	color: #fefefe;
	text-decoration: none;
}

#nav a:hover {
	color: #fff;
}

#nav li ul ul {
	left: 190px;
	top: 7px;
	margin: 0 0 0 10px;
}

#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li:hover ul ul ul ul {
	display: none;
}

#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li li li li:hover ul {
	display: block;
}

#header {
    min-width: 900px;
    margin-right: 10px;
    background: #3f3e49;
	border-right: solid 1px #3f3e49;
    height: 111px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
	-moz-box-shadow: 2px 2px 3px 2px #aaa;
	-webkit-box-shadow: 2px 2px 3px 2px #aaa;
	box-shadow: 2px 2px 3px 2px #aaa;
}

#header-top {
    height:65px;
	background-color: #fff;
    border-bottom: solid 1px #272632;
}

#nav .menubaritem {
    font-size: 10pt;
	height: 45px;
	padding: 0 2px;
	text-align: center;
}

li.menubaritem {
	border-top: 1px;
	min-width: 90px;
}

li.menubaritem a {
	line-height: 45px;
	font-weight: bold;
}

.menubaritem a:hover, li.menubaritem:hover, li.menubaritem ul li {
	background: #4a4a56;
	color: #fff;
}

li.menubaritem ul li a {
	line-height:40px;
	font-size: 9pt;
	width: 190px;
	text-align: left;
	font-weight: normal;
}

li.menubaritem ul {
	margin-top: 15px;
}

li.menubaritem ul li {
	border: solid 1px #5e5d69;
	border-top-width: 0;
}

li.menubaritem ul li a:hover{
	background: #5a5965;
}

#signout {
	float: right;
	padding-right: 10px;
	color: #0f1723;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
}

#signout a {
	color: #0f1723;
}

#nav li.help {
	float:right;
	width:60px;
}

#nav li.help ul {
	left: -106px;
}