.participation li
{
	background-color: #f8f8f8;
	padding: 5px;
}

.participation li.actions
{
	border-bottom:  solid 1px #dddddd;
}

.participation .row1
{
	background-color: #fff;
}

.participation h3
{
	padding-bottom: 4px;
}