#custom-report-input {
    font-size: 10pt;
}

#custom-report-input .label {
    display: inline-block;
    width: 95px;
    font-size: 11pt;
}

#custom-report-input label {
    display: inline-block;
    width: 100px;
}

#custom-report-input .input-set {
    /*float: left;*/
    padding-right: 15px;
    padding-bottom: 2px;
}

#custom-report-input input, #custom-report-input select {
    margin-right: 5px;
    margin-left: 15px;
}

#report-results {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;;
}

#report-results th {
    text-align: left;
    border-bottom: solid 3px #333;
    font-size: 9pt;
}

#report-results td {
    padding: 3px 2px;
    border-bottom: solid 1px #ccc;
}

#report-results tr.alt td, #report-list li.alt {
    background-color: #ededed;
}

#report-actions {
    text-align: right;
    margin: 15px;
}

#report-list {
    max-height: 300px;
    overflow-y: scroll;
}

#report-list ul {
    list-style-type: none;
}

#report-list li {
    padding: 3px 0;
}

#report-list li:hover {
    background-color: #FFFF99;
}

.report-title {
    font-weight: bold;
    color: #444;
    font-size: 12pt;
    display: inline-block;
    min-width: 200px;
}

.report-created-date {
    font-style: italic;
    margin-right: 25px;
}

.report-action {
    display: inline-block;
    margin: 0 25px;
    text-align: left;
    font-size: 10pt;
}

.filter-off {
    display:none;
}

.link-filter {
    display:inline-block;
}

#report-list .right {
    float: right;
}