#page-reservation {
	font-size: 12pt;
}

#page-reservation .col-top,
#page-reservation .reservationButtons {
    display:none;
}

#page-reservation #accessories {
    overflow: visible;
	max-height: none;
}

#page-view-reservation .buttons {
    display:none;
}