#additionalResources {
	display: inline;
}

#additionalResources p {
	margin: 0px;
	font-style: italic;
}

.durationText {
	font-size: 13px;
	font-weight: bold;
	display: inline;
	color: #000;
}

#reservationbox {
	width: 100%;
	margin: 3em auto 1em;
}

#reservationbox ul {
	list-style: none;
}

#reservationbox input[type="file"] {
	font-size: 10pt;
}

#reservationbox .input {
	font-size: 16px;
	width: 98%;
	padding: 3px;
	margin: 2px 0 5px 0;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
	color: #777;
}

#reservationbox.readonly label {
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

#reservationbox.readonly ul {
	font-size: 16px;
	color: #333;
}

#reservationbox.readonly .section {
	padding-top: 15px;
}

#reservationbox.readonly .repeat-details, #reservationbox.readonly .repeat-details label {
	margin-left: 10px;
	font-size: 15px;
}

#reservationDetails {
	float: left;
	width: 50%;
	border-right: solid 1px #ccc;
	padding-right: 25px;
}

.reservationButtons {
	margin-top: 20px;
}

.reservationReminders, .reservationAttachments, .customAttributes {
	margin: 5px 15px;
	padding: 5px;
	border-top: solid 1px #f0f0f0;
}

.reservationDeleteButtons {
	float: left;
}

.reservationSubmitButtons {
	float: right;
}

#reservationParticipation {
	float: right;
	width: 45%;
	height: 100%;
}

#participantList, #inviteeList {
	height: 100px;
	width: 100%;
	overflow-y: auto;
	border: solid 1px #ededed;
}

#accessories {
	max-height: 200px;
	overflow: auto;
}

#accessories p {
	margin: 1px;
}

#reservationbox a {
	font-size: 12pt;
}

#dialogSave ul {
	text-align: left;
}

#dialogSave .error {
	background-image: none;
}

#dialogSave h2 {
	font-size: 18pt;
}

#dialogSave div {
	font-size: 16pt;
	text-align: center;
}

#dialogSave input, #dialogSave button {
	font-size: 11pt;
}

.res-attachments {

	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #dedede;
}

.res-attachments .heading {
	font-size: 10pt;
	font-weight: bold;
}

#reservationbox .res-attachments a {
	font-size: 9pt;
}

#reminderOptionsStart {
	float: left;
	padding-right: 30px;
}

.reminderLabel {
	font-size: 10pt;
}

#reservationbox a.small-action {
	font-size: 9pt;
	color: #3d5b74;
}

.customAttributes {
	margin-top: 10px;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree .jqtree-toggler {
	top: 10%;
}

ul.jqtree-tree .group-resource .jqtree-title {
	color: #111111;
}

.buttonsTop {
	margin-bottom: 10px;
}

label.reservationDate {
	width: 50px;
	display: inline-block;
}

#reservationCreated .approvalMessage, #reservationUpdated .approvalMessage
{
	margin: 15px 0;
	font-size:smaller;
}