/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#additionalResources {
  display: inline;
}
#additionalResources p {
  margin: 0px;
  font-style: italic;
}
.durationText {
  font-size: .9em;
  font-weight: bold;
  display: inline;
  color: #000;
}
#reservationbox {
  width: 100%;
  margin: 3em auto 1em;
}
#reservationbox ul {
  list-style: none;
}
#reservationbox input[type="file"] {
  font-size: 10pt;
}
#reservationbox .input {
  font-size: 16px;
  width: 98%;
  padding: 3px;
  margin: 2px 0 5px 0;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  color: #777;
}
#reservationbox.readonly label {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
#reservationbox.readonly ul {
  font-size: 16px;
  color: #333;
}
#reservationbox.readonly .section {
  padding-top: 15px;
}
#reservationbox.readonly .repeat-details,
#reservationbox.readonly .repeat-details label {
  margin-left: 10px;
  font-size: 15px;
}
#reservationDetails {
  padding-right: 25px;
}
#reservationDetails #userName {
  font-size: 1.2em;
}
.reservationButtons {
  margin-top: 20px;
}
.reservationReminders,
.reservationAttachments,
.customAttributes {
  padding-top: 6px;
}
.reservationDeleteButtons {
  float: left;
}
.reservationSubmitButtons {
  float: right;
}
#reservationParticipation {
  padding-left: 25px;
}
#participantList,
#inviteeList {
  height: 150px;
  width: 98%;
  overflow-y: auto;
  border: solid 1px #e9e9e9;
  padding: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 5px;
}
#accessories {
  max-height: 200px;
  overflow: auto;
}
#accessories p {
  margin: 1px;
}
#reservationbox a {
  font-size: 12pt;
}
#dialogSave ul {
  text-align: left;
}
#dialogSave .error {
  background-image: none;
}
#dialogSave h2 {
  font-size: 18pt;
}
#dialogSave div {
  font-size: 16pt;
  text-align: center;
}
#dialogSave input,
#dialogSave button {
  font-size: 11pt;
}
.res-attachments {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #dedede;
}
.res-attachments .heading {
  font-size: 10pt;
  font-weight: bold;
}
#reservationbox .res-attachments a {
  font-size: 9pt;
}
#reminderOptionsStart {
  float: left;
  padding-right: 30px;
}
.reminderLabel {
  font-size: 10pt;
}
#reservationbox a.small-action {
  font-size: 9pt;
  color: #3d5b74;
}
.customAttributes {
  margin-top: 10px;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree .jqtree-toggler {
  top: 10%;
}
ul.jqtree-tree .group-resource .jqtree-title {
  color: #111111;
}
.buttonsTop {
  margin-bottom: 10px;
}
.reservationDate {
  width: 50px;
  display: inline-block;
}
.reservationDates,
.reservationTitle {
  padding-top: 8px;
}
.reservationLength .form-group {
  margin: 5px 0;
}
#reservationCreated .approvalMessage,
#reservationUpdated .approvalMessage {
  margin: 15px 0;
  font-size: smaller;
}
#changeUsers {
  display: none;
}
.reservationHeader h3 {
  margin: 0;
}
.repeat-drop {
  width: auto;
}
.repeat-interval-drop {
  width: auto;
}
.weeks,
.months {
  margin-top: 5px;
}
.weeks .btn-sm {
  width: 55px;
}
#reservation-box label {
  min-width: 50px;
}
.accessory-quantity {
  width: 60px;
}
.reminderTime {
  width: 65px;
}
.reminderInterval {
  width: auto;
}
a.add {
  color: #353432;
  text-decoration: none;
}
a.add .icon {
  color: #94ba65;
}
a.remove {
  color: #c37c82;
}
#reservation-response-image .error {
  color: #c37c82;
}
#reservation-response-image .warning {
  color: #fa6900;
}
#reservation-response-image .success {
  color: #94ba65;
}
.reservation-message {
  font-size: 2em;
  font-weight: bold;
}
#custom-attributes-placeholder .form-group {
  margin: 0;
}
#custom-attributes-placeholder .customAttribute {
  max-width: 250px;
  display: inline-block;
}
#allowParticipation {
  margin-top: 5px;
}
#invite-error {
  font-weight: bold;
  color: #c37c82;
}
.resourceName {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 1px;
  display: inline-block;
  margin-right: 2px;
}
.resourceName a::after {
  content: '  ';
}
#page-view-reservation .participationAction {
  margin-bottom: 5px;
}
