table.reservations {
	font-size:14px;
}

#schedule-actions, #calendar_toggle, #reservations-left, .change-date, #restore-sidebar {
	display:none;
}

@media print {
	a[href]:after {
		content: "" !important;
	}
}