table.reservations {
    border-collapse: collapse;
    border: solid #808080 1px;
    border: solid #36648B 1px;
    width: 100%;
	font-size:8pt;
	table-layout: fixed;
}

/*
table.reservations tr td {
    border: solid 1px #333;
}
*/

td.resourcename {
    padding: 1px 3px;
	background-color: #E0E0E0;	
	background-color: #EDEDED;	
	color: #999999;	
}


td.resourcename a {
	color: #0772A1;
	text-decoration: none;
}

td.resourcename a:hover {
	color: #3BA3D0;
}

td.resdate {
    width: 150px;
    padding: 0px 3px;
	background-color: #36648B;
	color: #F0F0F0;
}

tr.today td.resdate {
	font-weight: bold;
	color: #FFFFFF;
}

td.reslabel {
    padding-left: 2px;
	background-color: #EDEDED;
	color: #333333;
}

tr.today td.reslabel {
	color: #000000;
}
/*
td.resdate, td.reslabel {
	background-color: #0772A1;
	background-color: #245A71;
	background-color: #36648B;
	color: #F0F0F0;
}
*/

td.unreservable {
    background-color: #CF9D9B;
    color: #fff;
}

td.reservable {
    background-color: #FFF;
    color: #333;
}

td.reserved {
    background-color: #408AD2;
    color: #E0E0E0;
    padding-left: 1px;
}

td.reserved.hilite {
    background-color: #679ED2;
    background-color: #59A8EF;
}

td.reserved.mine {
	background-color: #3BA3D0;
	background-color: #6F9BAE;
}

td.reserved.mine.hilite {
	background-color: #63AFD0;
	color: #ffffff;
}

td.reservable.hilite {
    background-color: #23BF35;
}

td.hilite {
    cursor: pointer;
}

td.reservable.clicked {
    background-color: #259433;
}

td.reserved.clicked {
    background-color: #1979CF;
}

td.pasttime {
	background-color: #E0E5E7;
	background-color: #BDBDBD;
}
	
td.restricted {
	background-color: pink;
}

select.schedule_list {
	font-size: 8pt;
}


.schedule_drop
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.schedule_drop ul
{
	display: block;
	list-style: none;
	position:absolute;
	padding: 0;
	margin: 0;
	width: 125px;
	border: solid 1px black;
	background-color: white;
}

.schedule_drop ul li
{
	font-size: 10pt;
	padding: 4px;
	text-align: left;
}

.schedule_drop a
{
	text-decoration: none;
}

.schedule_drop ul li a
{
	color: #666;
	width: 125px;
}

.schedule_drop ul li a:hover
{
	color: #000;
}

.schedule_title
{
	text-align: center; 
	padding: 10px 0px;
}

.schedule_title span
{
	font-size:18pt;
}

.schedule_dates 
{
	text-align: center; 
	font-size: 14pt; 
	padding-bottom: 10px;
}

.ui-datepicker
{
	margin-left: auto; margin-right: auto;
}

.res_popup_details .summary {
	font-style: italic;
}

.res_popup_details .user {
	font-weight:bold;
}

.res_popup_details .dates {
}