* { margin:0; padding:0; }

body {
    font: 11px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    background-color: #fefefe;
    margin: 0px;
    color: #333333;
    height: 100%;
}

#page-header {
    background-color: #bbb;
    border-bottom: #4c5c67 solid 1px;
    margin-bottom: 0px;
 	width: 100%;
 	border: '0';
 	padding: '0';
	background-image: url(../img/scheduleit-header-gradient.png);
}

#page-header span.tab {
    padding: 0px 10px 3px 10px;
    margin: 2px 3px 1px 3px;
    vertical-align: middle;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 3px solid #000000;
}

img {
	border: none;
}

h1 {
	padding-top: 25px;
	margin-bottom: 10px;
	color: #666;
	border-bottom: solid 1px #999;
}

.textbox {
    font-size: 12px;
    color: #36648B;
    padding: 2px 3px;
    border: solid 1px #aaaaaa;
}

.button {
	display:inline;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

.button:hover {
	background-color:#f0f0f0;
}

/*********************************************************/
#loginError, div.error {
    border: solid 1px #a4381c;
    margin: 20px auto 5px;
    background-color: #f5e4df;
    background-color: #ffffcd;
    width: 60%;
    padding: 6px;
    font-size: 14px;
    text-align: center;
}

div.error {
    text-align: left;
    font-size: 13px;
}

div.error table {
    width: 100%;
}

div.error img {
    padding: 0px 10px;
}

div.error ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;

}

div.error li {
    font-size: inherit;	
}

#content {
    margin: 0px 15px 15px 15px;
    padding: 0; 
}



div.page-footer {
    color: #aaa;
    vertical-align: bottom; 
    width: 100%;
    text-align:center;
}

.page-footer a, page-footer a:visited
{
	color: #588abd;
}

.p-center {
	text-align: center;
}

.no-data
{
	font-style:italic;
	color: #aaa;
}

form.login, form.forgot {
        margin: 0 0 0 8px;
        padding: 20px 16px 48px 16px;
        font-weight: normal;
        -moz-border-radius: 11px;
        -khtml-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        background: #fff;
        border: 1px solid #e5e5e5;
        -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        box-shadow: rgba(200,200,200,1) 0 4px 18px;
}

form p { margin: 0 3px 16px 3px; }

label.login, label.forgot {
        color: #666;
        font-size: 18px;
}

#loginbox {
        width: 450px;
        margin: 7em auto 5em;
}

#loginbox .input, #forgotbox .input {
	font-size: 24px;
	width: 97%;
	padding: 3px;
	margin: 2px 6px 20px 0;
	border: 1px solid #e5e5e5;	
	background: #fbfbfb;
	color: #777
}

form .stayloggedin {
	font-weight: normal;
	float: left;
	margin-bottom: 0;
}

form .stayloggedin label { 
	font-size: 13px; 
	line-height: 1.5em; 
}

form.res-checkbox input { vertical-align: middle; }

p.loginsubmit, p.save, p.reg-adminsubmit, p.reporting-submit, p.resetpassword { float:right; }

#login-links p, #login-links h4 {text-align: center;}

form.register, form.resource, form.reg-admin, #reservationForm {
        margin: 0 0 0 8px;
        padding: 20px 16px 48px 16px;
        font-weight: normal;
        -moz-border-radius: 11px;
        -khtml-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        background: #fff;
        border: 1px solid #e5e5e5;
        -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        -khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
        box-shadow: rgba(200,200,200,1) 0 4px 18px;
}

p.regsubmit { float:left; }

form p { margin-bottom: 12px; }

form li { 
	font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif; 
	color: #666;
}

div.registrationHeader, div.resourceHeader, div.reg-adminHeader, div.reportingHeader, div.forgot_pwdHeader, .reservationHeader {
	padding: 5px 15px;
	border: none;
	-moz-border-radius: 13px;
	-khtml-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	-moz-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
	-webkit-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
	-khtml-box-shadow: rgba(200,200,200,1) 3px 3px 10px;
	box-shadow: rgba(200,200,200,1) 3px 3px 10px;
	text-decoration: none;
	margin: 0 0 20px 0;
	height: 2em;
	background: url('../img/button_bg.gif') repeat-x 0 0;
	color: #fff;
}

.registrationHeader h3, .resourceHeader h3, .reg-adminHeader h3, .reportingHeader h3, .forgot_pwdHeader h3, .reservationHeader h3 { 
	font: bold 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
	vertical-align: middle;
}

p.forgot {
	font: 14px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;	
}

ul.no-style {
	list-style-type: none;
}

li.res-req, li.reg-req, .rsv-req { color: #a00; }

label.res-req, label.reg-req, .rsv-req {
	font-size: 18px;
	color: #a00;
}

label.res, label.reg {
	font-size: 18px;
	color: #666;
}

#registrationbox, #forgotbox {
	width: 550px;
	margin: 3em auto 1em;
}

#resourcebox {
	width: 850px;
	margin: 3em auto 1em;
}

#reg-adminbox, #reportingbox, #reservationbox {
	width: 750px;
	margin: 3em auto 1em;
}

#resourcebox-leftcolumn {
	width: 47%;
	float: left;
}
 
#resourcebox-rightcolumn {
	width: 51%;
	float: right;	
}

#resourcebox-footer { clear: both; }

#reg-adminbox-footer, #reporting-footer { margin: 10px 0;}

#registrationbox .input, #reservationbox .input {
        font-size: 18px;
        width: 97%;
        padding: 3px;
        margin: 2px 0 5px 0;
        border: 1px solid #e5e5e5;
        background: #fbfbfb;
        color: #777;
}

#reservationbox .input {
        font-size: 18px;
        width: 98%;
        padding: 3px;
        margin: 2px 0 5px 0;
        border: 1px solid #e5e5e5;
        background: #fbfbfb;
        color: #777;
}

#resourcebox .input {
    	font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
        width: 98%;
        padding: 3px;
        margin: 4px 0 8px 0;
        border: 1px solid #e5e5e5;
        background: #fbfbfb;
        color: #777;
}

#reservationbox.readonly label {
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

#reservationbox.readonly ul {
	font-size: 18px;
	color: #333;
}

#reservationbox.readonly .section {
	padding-top: 15px;
}

#reservationbox.readonly .repeat-details, #reservationbox.readonly .repeat-details label {
	margin-left: 10px;
	font-size: 15px;
}

textarea.input-area {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 98%;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
	overflow: hidden;
}

td.center {
	text-align: center;
}

table.reg-admin {
	border-collapse: collapse;
}

table.reg-admin td {
	padding: 3px;
}

th.admin-radio {
    vertical-align: middle;	
    color: #777;
	border-bottom: 2px solid #aaa;
	padding: 0 0 3px 0;
}

th.admin-fieldHeading {
    font: bold 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
	width: 400px;
	text-align: left;
}

th.admin-radio {
    font: bold 15px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
	width: 100px;
}

th.reporting {
    font: bold 15px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
	width: 150px;
	text-align: center;
}

td.admin-fieldName {
    font: bold 15px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    color: #777;	
}

tr.admin-lastline {
	border-bottom: 2px solid #aaa;
}


.rsv-checkbox h4 {
	display: inline;
    padding: 0 20px 0 5px;
	
}

.rsv-checkbox input { margin: 0 0 0 3px;}

.rsv-checkbox {
	padding: 0 0 10px 0;
}

.pulldown {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 75%;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
}

textarea.input-areashow {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 98%;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
}

.inline {display:inline;}

.dateinput {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 100px;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
	text-align: center;
}

.repeatDiv select {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 100px;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
}

.slot
{
	min-width:1px;
	max-width:1px;
}

#dashboardList
{
	list-style: none;
}