* {
    margin: 0;
    padding: 0;
}

body {
    font: 11px Helvetica, "Helvetica Neue", "Lucida Grande", Verdana, Arial, sans-serif;
    background-color: #fefefe;
    margin: 0px;
    color: #333333;
}

html, body {
	height: 100%;
}

#page-header {
    background-color: #bbb;
    border-bottom: #4c5c67 solid 1px;
    margin-bottom: 0px;
    width: 100%;
    border: none;
    padding: 0;
    background-image: url(../img/scheduleit-header-gradient.png);
}

#page-header span.tab {
    padding: 0px 10px 3px 10px;
    margin: 2px 3px 1px 3px;
    vertical-align: middle;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 3px solid #000000;
}

#signout {
    float: right;
    padding-right: 10px;
    color: #fff;
    font-size: 11pt;
    text-align: right;
    vertical-align: middle;
}

#signout a {
    color: #fff;
}

img {
    border: none;
}

h1 {
    padding-top: 25px;
    margin-bottom: 10px;
    color: #666;
    border-bottom: solid 1px #999;
}

.textbox {
    font-size: 12px;
    color: #36648B;
    padding: 2px 3px;
    border: solid 1px #aaaaaa;
}

.button {
    display: inline;
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 130%;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
    padding: 5px 10px 6px 7px; /* Links */
}

.button:hover {
    background-color: #f0f0f0;
}

/*********************************************************/
div.error, div.success, #loginError {
    border: 1px solid #ba0026;
    border-radius: 5px 5px 5px 5px;

	background: #ffc3c8 url("../img/s_error.png") no-repeat scroll 5px 5px;

    margin: 5px auto 5px auto;
    padding: 6px 25px;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
}

div.error, div.success {
    text-align: left;
    font-size: 13px;
}

div.success {
    border: solid 1px #8CC739;
    background-color: #BCE27F;
    text-align: center;
}

div.error table {
    width: 100%;
}

div.error img {
    padding: 0px 10px;
}

div.error ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

div.error li {
    font-size: inherit;
}

#content {
    margin: 0px 15px 15px 15px;
    padding: 0;
}

.asyncValidation {
    display: none;
    color: red;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

div.page-footer {
    color: #fafafa;
    vertical-align: bottom;
    width: 100%;
    text-align: center;
	height: 38px;
	background-color: #e3f2ff;
    background: url(../img/header-top.png) repeat;
	padding-top: 1px;
	border-top: solid 1px #333333;
	font-size: 8pt;
	font-weight: normal;
}

div.push {
	height: 38px;
}

.page-footer a, .page-footer a:visited {
    color: #fafafa;
}

.p-center {
    text-align: center;
}

.no-data {
    font-style: italic;
    color: #aaa;
}

form.login, form.forgot, form.register, #reservationForm, form.box-form {
    margin: 0 0 0 8px;
    padding: 20px 16px 48px 16px;
    font-weight: normal;
    -moz-border-radius: 11px;
    -khtml-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    background: #fff;
    border: 1px solid #e5e5e5;
    -moz-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
    -webkit-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
    -khtml-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
    box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
}

form.login {
	padding-bottom: 18px;
}

div.registrationHeader, div.forgot_pwdHeader, .reservationHeader, div.box-form div.header{
    padding: 5px 15px;
    border: none;
    -moz-border-radius: 13px;
    -khtml-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    -moz-box-shadow: rgba(200, 200, 200, 1) 3px 3px 10px;
    -webkit-box-shadow: rgba(200, 200, 200, 1) 3px 3px 10px;
    -khtml-box-shadow: rgba(200, 200, 200, 1) 3px 3px 10px;
    box-shadow: rgba(200, 200, 200, 1) 3px 3px 10px;
    text-decoration: none;
    margin: 0 0 20px 0;
    height: 2em;
    background: url('../img/button_bg.gif') repeat-x 0 0;
    color: #fff;
}

.registrationHeader h3, .forgot_pwdHeader h3, .reservationHeader h3, div.box-form h3.header {
    font: bold 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    vertical-align: middle;
}


#registrationbox, #forgotbox, div.box-form {
    width: 550px;
    margin: 3em auto 1em;
}

#notificationPreferences {
    width: 650px;
}

#notificationPreferences label {
	margin-left:0.3em;
}

form.box-form li {
    list-style: none;
}

#registrationbox .input, #reservationbox .input {
    font-size: 18px;
    width: 97%;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
}

#loginbox {
    width: 450px;
    margin: 7em auto 5em;
}

#loginbox .input, #forgotbox .input {
    font-size: 24px;
    width: 97%;
    padding: 3px;
    margin: 2px 6px 20px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777
}

.input-small
{
    font-size: 12px;
    width: 97%;
    padding: 3px;
    margin: 2px 6px 20px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777
}

form p {
    margin: 0 3px 12px 3px;
}

label.login, label.forgot {
    color: #666;
    font-size: 18px;
}

form .stayloggedin {
    font-weight: normal;
    float: left;
    margin-bottom: 0;
}

form .stayloggedin label {
    font-size: 13px;
    line-height: 1.5em;
}

form.res-checkbox input {
    vertical-align: middle;
}

p.loginsubmit, p.save, p.reg-adminsubmit, p.reporting-submit, p.resetpassword {
    float: right;
}

#login-links p, #login-links h4 {
    text-align: center;
	font-size:12pt;
}

h4.register
{
	text-align: center;
	margin-bottom: 0;
}

p.regsubmit {
    float: left;
}

form li {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    color: #666;
}

p.forgot {
    font: 14px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
}

ul.no-style {
    list-style-type: none;
}

li.res-req, li.reg-req, .rsv-req {
    color: #a00;
}

label.res-req, label.reg-req, .rsv-req {
    font-size: 18px;
    color: #a00;
}

label.res, label.reg {
    font-size: 18px;
    color: #666;
}


textarea.input-area {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 98%;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
    overflow: hidden;
}

td.center {
    text-align: center;
}

table.reg-admin {
    border-collapse: collapse;
}

table.reg-admin td {
    padding: 3px;
}

th.admin-radio {
    vertical-align: middle;
    color: #777;
    border-bottom: 2px solid #aaa;
    padding: 0 0 3px 0;
}

th.admin-fieldHeading {
    font: bold 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 400px;
    text-align: left;
}

th.admin-radio {
    font: bold 15px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 100px;
}

th.reporting {
    font: bold 15px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 150px;
    text-align: center;
}

td.admin-fieldName {
    font: bold 15px/18px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    color: #777;
}

tr.admin-lastline {
    border-bottom: 2px solid #aaa;
}

.rsv-checkbox h4 {
    display: inline;
    padding: 0 20px 0 5px;
}

.rsv-checkbox input {
    margin: 0 0 0 3px;
}

.rsv-checkbox {
    padding: 0 0 10px 0;
}

.pulldown {
    font-weight: bold;
    margin: 2px 0 5px;
    padding: 3px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
}

textarea.input-areashow {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 98%;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
}

.inline {
    display: inline;
}

.dateinput {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 100px;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
    text-align: center;
}

.repeatDiv select {
    font: 18px/24px Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
    width: 100px;
    padding: 3px;
    margin: 2px 0 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #777;
}

.slot {
    min-width: 1px;
    max-width: 1px;
}

#dashboardList {
    list-style: none;
}

fieldset {
    border: solid #dedede 1px;
    padding: 10px;
}

legend {
    font-size: 11px;
    padding: 0px 5px;
}

a, a:visited {
    color: #006295;
}

a.page, a.page:visited {
    padding: 1px;
    font-size: larger;
    text-decoration: none;
    border: solid 1px transparent;
}

a.page:hover, a.page.current {
    background-color: #fafafa;
    border-color: #bbbbbb;
}

.watermark {
    color: #ebebeb;
    font-style: italic;
    font-weight: normal;
}

div.clear {
    clear: both;
    height: 0px;
}

.dialog {
    display: none;
	max-height: 600px;
	overflow: auto;
}

.notification-row {
    display: table-row;
    font-size: 12pt;
    font-weight: normal;
}

.notification-row div {
    padding: 5px;
}

.notification-row.alt {
    background-color: #ced1c5;
}

div.notification-type {
    width:50%;
    display: table-cell;
}

div.notification-status {
    width:50%;
    display: table-cell;
}

#help h3, #help h2
{
    /*margin: 10px 0;*/
}

#help h2
{
    padding: 2px;
    background-color: #e8eef2;
}
#help h3
{
    margin-left: 10px;
    text-decoration: underline;
}

#help p
{
    margin: 10px 20px;
    font-size: 11pt;
}

#help p.setting span
{
    color: green;
    font-family: Courier;
    display: block;
}

#help ul
{
    margin-left: 20px;
    font-size: 11pt;
}

.note {
	font-style: italic;
	color: #8D96A8
}