/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/* Main Secondary color (1) */
/* Main Primary color */
/* Main Complement color */
#page-user-credits .cost {
  font-weight: bold;
}
#page-checkout .total {
  font-weight: bold;
  font-size: 1.1em;
  border-top: solid 1px #D5DED9;
}
#page-checkout .checkout-buttons {
  margin-top: 25px;
}
